apps/outreach-workflows/n8n/draft.json
[{"updatedAt":"2026-05-19T20:16:31.000Z","createdAt":"2026-05-19T18:33:05.559Z","id":"dRaFtWfOutreach001","name":"outreach-draft","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":5}]}},"id":"aa000001-0001-0001-0001-000000000001","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[240,300]},{"parameters":{"operation":"executeQuery","query":"UPDATE outreach_items\nSET status='drafting'\nWHERE id IN (\n  SELECT id FROM outreach_items\n  WHERE status='discovered'\n  ORDER BY discovered_at\n  LIMIT 10\n  FOR UPDATE SKIP LOCKED\n)\nRETURNING id, source_platform, source_url, source_excerpt, source_author, source_community;","options":{}},"id":"aa000002-0002-0002-0002-000000000002","name":"Fetch Candidates","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[460,300],"credentials":{"postgres":{"id":"fOZmso5kyXr6Agdn","name":"outreach-db-n8n"}}},{"parameters":{"jsCode":"// Filter out the no-op {success: true} row that n8n Postgres returns when\n// UPDATE ... RETURNING finds no matching rows. Only pass through items that\n// have a numeric 'id' field (a real outreach_item row).\nconst items = $input.all();\nconst valid = items.filter(i => i.json && i.json.id != null && String(i.json.id).match(/^\\d+$/));\nif (valid.length === 0) {\n  return [];\n}\nreturn valid;"},"id":"aa000003-0003-0003-0003-000000000003","name":"Filter Candidates","type":"n8n-nodes-base.code","typeVersion":2,"position":[680,300]},{"parameters":{"jsCode":"const item = $input.item.json;\nconst sourcePlatform = item.source_platform || '';\nconst sourceUrl = item.source_url || '';\nconst sourceAuthor = item.source_author || 'unknown';\nconst sourceCommunity = item.source_community || 'unknown';\nconst sourceExcerpt = item.source_excerpt || '';\n\nconst promptText = `You are drafting outreach as the founder of PlotLens. PlotLens is narrative intelligence for fiction writers: it extracts story canon (characters, locations, timelines, rules) and validates continuity across a manuscript. **It does not generate prose.**\n\n## Source context\n\n- Platform: ${sourcePlatform}\n- URL: ${sourceUrl}\n- Author / community: ${sourceAuthor} / ${sourceCommunity}\n- Excerpt:\n  > ${sourceExcerpt}\n\n## Voice rules\n\n- Calm, practical, writer-friendly. No hype. No \"AI slop.\"\n- Avoid developer jargon: entities, validation rules, embeddings, canonical graph.\n- Prefer writer language: characters, story bible, continuity, source passage, manuscript.\n- Never claim PlotLens writes prose.\n- Never invent features, launch dates, metrics, integrations, prices, or customer counts.\n\n## Channel rules\n\n- For Reddit: no sales CTA unless the post directly asks for tools.\n- For replies: answer the person's actual problem before mentioning anything we built.\n- For X/Bluesky/Mastodon original posts: stand-alone, useful even if no one clicks through.\n\n## Output\n\nReturn JSON with exactly these fields:\n\n\\`\\`\\`json\n{\n  \"should_reply\": true,\n  \"recommended_destination\": \"reddit_reply\",\n  \"manual_only\": false,\n  \"drafts\": [\n    {\n      \"variant\": \"helpful_only\",\n      \"draft_text\": \"...\",\n      \"risk_flags\": [\"e.g. mentions_pricing\", \"...\"]\n    },\n    {\n      \"variant\": \"founder_context\",\n      \"draft_text\": \"...\",\n      \"risk_flags\": []\n    },\n    {\n      \"variant\": \"soft_product\",\n      \"draft_text\": \"...\",\n      \"risk_flags\": []\n    }\n  ]\n}\n\\`\\`\\`\n\nAllowed values:\n- \\`should_reply\\`: \\`true\\` or \\`false\\`\n- \\`recommended_destination\\`: one of \\`reddit_reply\\`, \\`reddit_post\\`, \\`x_post\\`, \\`x_reply\\`, \\`bluesky_post\\`, \\`mastodon_post\\`, \\`linkedin_post\\`, \\`newsletter\\`\n- \\`manual_only\\`: \\`true\\` or \\`false\\`\n- One entry per \\`variant\\` key. Always return all three.\n- \\`risk_flags\\` is a list of short strings naming any concern (mentions pricing, makes a claim about features, refers to a competitor, etc.). Empty list if clean.\n\nReturn only the JSON, no surrounding prose.`;\n\nreturn [{ json: { outreach_item_id: item.id, source_platform: sourcePlatform, source_url: sourceUrl, source_author: sourceAuthor, source_community: sourceCommunity, source_excerpt: sourceExcerpt, prompt: promptText } }];"},"id":"aa000004-0004-0004-0004-000000000004","name":"Build Prompt","type":"n8n-nodes-base.code","typeVersion":2,"position":[900,300]},{"parameters":{"resource":"text","operation":"message","modelId":{"__rl":true,"value":"claude-sonnet-4-6","mode":"id"},"messages":{"values":[{"content":"={{$json.prompt}}","role":"user"}]},"simplify":false,"options":{"maxTokens":4000,"system":"You output only valid JSON, no surrounding prose."}},"id":"aa000005-0005-0005-0005-000000000005","name":"Call Anthropic","type":"@n8n/n8n-nodes-langchain.anthropic","typeVersion":1,"position":[1120,300],"credentials":{"anthropicApi":{"id":"KHgVcFOKeWW5rMme","name":"anthropic-api-key"}}},{"parameters":{"jsCode":"const response = $input.item.json;\n\n// The Anthropic node with simplify:false returns the full API response.\n// Retrieve the original outreach_item_id from the Build Prompt upstream node\n// using n8n paired item tracking.\nconst originalItem = $('Build Prompt').item.json;\nconst outreachItemId = originalItem.outreach_item_id;\n\nif (!outreachItemId) {\n  throw new Error('Could not find outreach_item_id from Build Prompt. originalItem=' + JSON.stringify(originalItem));\n}\n\nlet rawText;\ntry {\n  rawText = response.content[0].text;\n} catch(e) {\n  throw new Error('Anthropic response missing content[0].text: ' + JSON.stringify(response));\n}\n\nlet parsed;\ntry {\n  parsed = JSON.parse(rawText);\n} catch(e) {\n  const stripped = rawText.replace(/^```json\\s*/i, '').replace(/```\\s*$/i, '').trim();\n  try {\n    parsed = JSON.parse(stripped);\n  } catch(e2) {\n    throw new Error('Failed to parse Anthropic JSON response: ' + rawText.slice(0, 500));\n  }\n}\n\nif (!Array.isArray(parsed.drafts) || parsed.drafts.length !== 3) {\n  throw new Error('Expected drafts array of length 3, got: ' + JSON.stringify(parsed.drafts));\n}\nfor (const d of parsed.drafts) {\n  if (!d.variant || !d.draft_text) {\n    throw new Error('Draft missing variant or draft_text: ' + JSON.stringify(d));\n  }\n}\n\nreturn [{ json: {\n  outreach_item_id: outreachItemId,\n  should_reply: parsed.should_reply,\n  recommended_destination: parsed.recommended_destination,\n  manual_only: parsed.manual_only,\n  drafts: parsed.drafts\n} }];"},"id":"aa000006-0006-0006-0006-000000000006","name":"Validate Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[1340,300]},{"parameters":{"jsCode":"const item = $input.item.json;\nconst drafts = item.drafts;\n\nreturn drafts.map(draft => ({\n  json: {\n    outreach_item_id: item.outreach_item_id,\n    recommended_destination: item.recommended_destination,\n    manual_only: item.manual_only,\n    variant: draft.variant,\n    draft_text: draft.draft_text,\n    risk_flags: draft.risk_flags || []\n  }\n}));"},"id":"aa000007-0007-0007-0007-000000000007","name":"Fan Out Variants","type":"n8n-nodes-base.code","typeVersion":2,"position":[1560,300]},{"parameters":{"jsCode":"// Collect all 3 variant items and build ONE combined risk-check prompt.\n// Runs once with all items — avoids the n8n v1 per-item LangChain node limitation\n// (LangChain nodes only process item[0] in this n8n version).\nconst allItems = $input.all();\nconst sourceExcerpt = $('Build Prompt').item.json.source_excerpt || '';\n\nconst draftsSummary = allItems.map((itm, idx) => {\n  const d = itm.json;\n  return `### Draft ${idx + 1}: variant=\"${d.variant || ''}\"\nPlatform: ${d.recommended_destination || ''}\nText:\n> ${d.draft_text || ''}`;\n}).join('\\n\\n');\n\nconst promptText = `You are reviewing outreach drafts for the PlotLens founder. Score each draft on a 0-100 risk scale.\n\n- **0-20**: Safe to auto-quick-approve. No claims about features that don't exist, no pricing, no competitor mentions, no controversial takes, no apology-style replies, no spam patterns.\n- **21-50**: Needs human review but probably fine.\n- **51-100**: Flag for careful review. Examples: mentions specific roadmap features, makes a quantitative product claim, replies to a sensitive topic (mental health, harassment, AI ethics debate), uses absolute language (\"always\", \"best\", \"only\").\n\n${draftsSummary}\n\n## Source context\n\n> ${sourceExcerpt}\n\n## Output\n\nReturn JSON with exactly 3 entries, one per draft in order:\n\n\\`\\`\\`json\n[\n  {\"variant\": \"helpful_only\", \"risk_score\": 0, \"reasons\": [\"...\"]},\n  {\"variant\": \"founder_context\", \"risk_score\": 0, \"reasons\": [\"...\"]},\n  {\"variant\": \"soft_product\", \"risk_score\": 0, \"reasons\": [\"...\"]}\n]\n\\`\\`\\`\n\nOnly return the JSON array. No prose around it.`;\n\nreturn [{ json: {\n  _all_variants: allItems.map(i => i.json),\n  risk_check_prompt: promptText\n} }];"},"id":"aa000010-0010-0010-0010-000000000010","name":"Build Risk Prompt","type":"n8n-nodes-base.code","typeVersion":2,"position":[1780,300]},{"parameters":{"resource":"text","operation":"message","modelId":{"__rl":true,"value":"claude-haiku-4-5-20251001","mode":"id"},"messages":{"values":[{"content":"={{$json.risk_check_prompt}}","role":"user"}]},"simplify":false,"options":{"maxTokens":600,"system":"You output only valid JSON, no surrounding prose."}},"id":"aa000012-0012-0012-0012-000000000012","name":"Call Haiku","type":"@n8n/n8n-nodes-langchain.anthropic","typeVersion":1,"position":[2000,300],"credentials":{"anthropicApi":{"id":"KHgVcFOKeWW5rMme","name":"anthropic-api-key"}}},{"parameters":{"jsCode":"// Apply Haiku risk scores to all 3 variant items, compute SHA-256 content hashes,\n// and pack everything into one item for a single batch Postgres INSERT.\n// This pattern avoids n8n multi-item propagation issues beyond a LangChain node.\n\nfunction sha256(str) {\n  const bytes = [];\n  for (let i = 0; i < str.length; i++) {\n    let c = str.charCodeAt(i);\n    if (c < 0x80) { bytes.push(c); }\n    else if (c < 0x800) { bytes.push(0xC0|(c>>6), 0x80|(c&0x3F)); }\n    else if (c < 0xD800 || c >= 0xE000) { bytes.push(0xE0|(c>>12), 0x80|((c>>6)&0x3F), 0x80|(c&0x3F)); }\n    else { i++; c=0x10000+(((c&0x3FF)<<10)|(str.charCodeAt(i)&0x3FF)); bytes.push(0xF0|(c>>18),0x80|((c>>12)&0x3F),0x80|((c>>6)&0x3F),0x80|(c&0x3F)); }\n  }\n  const K=[0x428a2f98,0x71374491,0xb5c0fbcf,0xe9b5dba5,0x3956c25b,0x59f111f1,0x923f82a4,0xab1c5ed5,0xd807aa98,0x12835b01,0x243185be,0x550c7dc3,0x72be5d74,0x80deb1fe,0x9bdc06a7,0xc19bf174,0xe49b69c1,0xefbe4786,0x0fc19dc6,0x240ca1cc,0x2de92c6f,0x4a7484aa,0x5cb0a9dc,0x76f988da,0x983e5152,0xa831c66d,0xb00327c8,0xbf597fc7,0xc6e00bf3,0xd5a79147,0x06ca6351,0x14292967,0x27b70a85,0x2e1b2138,0x4d2c6dfc,0x53380d13,0x650a7354,0x766a0abb,0x81c2c92e,0x92722c85,0xa2bfe8a1,0xa81a664b,0xc24b8b70,0xc76c51a3,0xd192e819,0xd6990624,0xf40e3585,0x106aa070,0x19a4c116,0x1e376c08,0x2748774c,0x34b0bcb5,0x391c0cb3,0x4ed8aa4a,0x5b9cca4f,0x682e6ff3,0x748f82ee,0x78a5636f,0x84c87814,0x8cc70208,0x90befffa,0xa4506ceb,0xbef9a3f7,0xc67178f2];\n  let h0=0x6a09e667,h1=0xbb67ae85,h2=0x3c6ef372,h3=0xa54ff53a,h4=0x510e527f,h5=0x9b05688c,h6=0x1f83d9ab,h7=0x5be0cd19;\n  const msgLen=bytes.length; bytes.push(0x80);\n  while((bytes.length%64)!==56) bytes.push(0);\n  const bitLen=msgLen*8; bytes.push(0,0,0,0,(bitLen>>>24)&0xFF,(bitLen>>>16)&0xFF,(bitLen>>>8)&0xFF,bitLen&0xFF);\n  function rotr(x,n){return(x>>>n)|(x<<(32-n));}\n  function ch(x,y,z){return(x&y)^(~x&z);}\n  function maj(x,y,z){return(x&y)^(x&z)^(y&z);}\n  function sig0(x){return rotr(x,2)^rotr(x,13)^rotr(x,22);}\n  function sig1(x){return rotr(x,6)^rotr(x,11)^rotr(x,25);}\n  function gam0(x){return rotr(x,7)^rotr(x,18)^(x>>>3);}\n  function gam1(x){return rotr(x,17)^rotr(x,19)^(x>>>10);}\n  for(let offset=0;offset<bytes.length;offset+=64){\n    const w=new Array(64);\n    for(let i=0;i<16;i++) w[i]=((bytes[offset+i*4]<<24)|(bytes[offset+i*4+1]<<16)|(bytes[offset+i*4+2]<<8)|bytes[offset+i*4+3])>>>0;\n    for(let i=16;i<64;i++) w[i]=(gam1(w[i-2])+w[i-7]+gam0(w[i-15])+w[i-16])>>>0;\n    let a=h0,b=h1,c=h2,d=h3,e=h4,f=h5,g=h6,h=h7;\n    for(let i=0;i<64;i++){const t1=(h+sig1(e)+ch(e,f,g)+K[i]+w[i])>>>0;const t2=(sig0(a)+maj(a,b,c))>>>0;h=g;g=f;f=e;e=(d+t1)>>>0;d=c;c=b;b=a;a=(t1+t2)>>>0;}\n    h0=(h0+a)>>>0;h1=(h1+b)>>>0;h2=(h2+c)>>>0;h3=(h3+d)>>>0;h4=(h4+e)>>>0;h5=(h5+f)>>>0;h6=(h6+g)>>>0;h7=(h7+h)>>>0;\n  }\n  function hex(n){return('00000000'+(n>>>0).toString(16)).slice(-8);}\n  return hex(h0)+hex(h1)+hex(h2)+hex(h3)+hex(h4)+hex(h5)+hex(h6)+hex(h7);\n}\n\nconst haikusResponse = $input.item.json;\nconst variantsData = $('Build Risk Prompt').item.json._all_variants;\n\n// Parse Haiku risk scores\nlet rawText;\ntry { rawText = haikusResponse.content[0].text; } catch(e) { rawText = null; }\n\nconst scoreMap = {};\nif (rawText) {\n  let parsed;\n  try { parsed = JSON.parse(rawText); } catch(e) {\n    const stripped = rawText.replace(/^```json\\s*/i,'').replace(/```\\s*$/i,'').trim();\n    try { parsed = JSON.parse(stripped); } catch(e2) { parsed = null; }\n  }\n  if (Array.isArray(parsed)) {\n    for (const entry of parsed) {\n      const risk = entry.risk_score;\n      if (entry.variant && typeof risk === 'number' && risk >= 0 && risk <= 100) {\n        scoreMap[entry.variant] = risk;\n      }\n    }\n  }\n}\n\n// Build enriched rows with risk scores + content hashes\nconst rows = variantsData.map(v => {\n  const risk = scoreMap[v.variant];\n  const riskScore = (typeof risk === 'number') ? risk : 75;\n  const destination = v.recommended_destination || '';\n  const postType = v.suggested_post_type || destination.split('_')[1] || 'post';\n  const hash = sha256((v.draft_text || '') + destination + postType);\n  let riskFlags = v.risk_flags;\n  if (!Array.isArray(riskFlags)) { try { riskFlags = JSON.parse(riskFlags); } catch(e) { riskFlags = []; } }\n  if (!Array.isArray(riskFlags)) riskFlags = [];\n  return {\n    outreach_item_id: v.outreach_item_id,\n    variant: v.variant,\n    draft_text: v.draft_text || '',\n    recommended_destination: destination,\n    suggested_post_type: postType,\n    risk_flags_json: JSON.stringify(riskFlags.map(f => String(f))),\n    risk_score: riskScore,\n    manual_only: v.manual_only,\n    content_hash: hash\n  };\n});\n\nreturn [{ json: { rows } }];"},"id":"aa000013-0013-0013-0013-000000000013","name":"Apply Risk Score","type":"n8n-nodes-base.code","typeVersion":2,"position":[2220,300]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO drafts (\n  outreach_item_id, variant, model_provider, model_name, prompt_version,\n  draft_text, suggested_destination, suggested_post_type,\n  risk_flags, risk_score, manual_only, content_hash\n) VALUES\n  ($1,  $2,  'anthropic', 'claude-sonnet-4-6', 'draft-v1', $3,  $4,  $5,  $6::jsonb,  $7,  $8,  $9 ),\n  ($10, $11, 'anthropic', 'claude-sonnet-4-6', 'draft-v1', $12, $13, $14, $15::jsonb, $16, $17, $18),\n  ($19, $20, 'anthropic', 'claude-sonnet-4-6', 'draft-v1', $21, $22, $23, $24::jsonb, $25, $26, $27)\nRETURNING outreach_item_id, variant;","options":{"queryReplacement":"={{ [\n  $json.rows[0].outreach_item_id, $json.rows[0].variant, $json.rows[0].draft_text, $json.rows[0].recommended_destination, $json.rows[0].suggested_post_type, $json.rows[0].risk_flags_json, $json.rows[0].risk_score, $json.rows[0].manual_only, $json.rows[0].content_hash,\n  $json.rows[1].outreach_item_id, $json.rows[1].variant, $json.rows[1].draft_text, $json.rows[1].recommended_destination, $json.rows[1].suggested_post_type, $json.rows[1].risk_flags_json, $json.rows[1].risk_score, $json.rows[1].manual_only, $json.rows[1].content_hash,\n  $json.rows[2].outreach_item_id, $json.rows[2].variant, $json.rows[2].draft_text, $json.rows[2].recommended_destination, $json.rows[2].suggested_post_type, $json.rows[2].risk_flags_json, $json.rows[2].risk_score, $json.rows[2].manual_only, $json.rows[2].content_hash\n] }}"}},"id":"aa000009-0009-0009-0009-000000000009","name":"Insert Draft","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2440,300],"credentials":{"postgres":{"id":"fOZmso5kyXr6Agdn","name":"outreach-db-n8n"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE outreach_items SET status='drafted' WHERE id = $1;","options":{"queryReplacement":"={{ [$json.rows ? $json.rows[0].outreach_item_id : $json.outreach_item_id] }}"}},"id":"aa000011-0011-0011-0011-000000000011","name":"Mark Drafted","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2660,300],"credentials":{"postgres":{"id":"fOZmso5kyXr6Agdn","name":"outreach-db-n8n"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Fetch Candidates","type":"main","index":0}]]},"Fetch Candidates":{"main":[[{"node":"Filter Candidates","type":"main","index":0}]]},"Filter Candidates":{"main":[[{"node":"Build Prompt","type":"main","index":0}]]},"Build Prompt":{"main":[[{"node":"Call Anthropic","type":"main","index":0}]]},"Call Anthropic":{"main":[[{"node":"Validate Response","type":"main","index":0}]]},"Validate Response":{"main":[[{"node":"Fan Out Variants","type":"main","index":0}]]},"Fan Out Variants":{"main":[[{"node":"Build Risk Prompt","type":"main","index":0}]]},"Build Risk Prompt":{"main":[[{"node":"Call Haiku","type":"main","index":0}]]},"Call Haiku":{"main":[[{"node":"Apply Risk Score","type":"main","index":0}]]},"Apply Risk Score":{"main":[[{"node":"Insert Draft","type":"main","index":0}]]},"Insert Draft":{"main":[[{"node":"Mark Drafted","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":null,"pinData":null,"versionId":"cd3c600f-a098-4e6e-af33-e80ce667e940","activeVersionId":"cd3c600f-a098-4e6e-af33-e80ce667e940","versionCounter":36,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-05-19T18:33:05.562Z","createdAt":"2026-05-19T18:33:05.562Z","role":"workflow:owner","workflowId":"dRaFtWfOutreach001","projectId":"JGmgbrvKk4KLD2WH","project":{"updatedAt":"2025-09-03T13:34:38.940Z","createdAt":"2025-09-03T13:25:25.897Z","id":"JGmgbrvKk4KLD2WH","name":"Jeremy Corbello <jacorbello@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"267d3922-bc61-4b1d-a99c-8d3098aa7a70"}}],"versionMetadata":{"name":null,"description":null}}]