apps/outreach-workflows/n8n/expire-stale.json
[{"updatedAt": "2026-05-20T01:05:33.000Z", "createdAt": "2026-05-19T23:45:00.000Z", "id": "eXp1rEsTaLeWf001", "name": "outreach-expire-stale", "description": "Daily cron at 03:00 UTC. Expires drafts stuck in needs_human_review for >14 days, expires approvals whose expires_at has passed, then posts a summary to #plotlens-outreach. NOTE: Slack channel C0B4SUTP8R4 (#plotlens-outreach) is hardcoded because n8n 2.9.4 blocks $env access in node expressions (N8N_BLOCK_ENV_ACCESS_IN_NODE default). To change the channel, update the Slack Post Summary node's channelId.value directly.", "active": true, "isArchived": false, "nodes": [{"parameters": {"rule": {"interval": [{"triggerAtHour": 3, "triggerAtMinute": 0}]}}, "id": "ex000001-0001-0001-0001-000000000001", "name": "Schedule Trigger", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.2, "position": [240, 300]}, {"parameters": {"operation": "executeQuery", "query": "UPDATE drafts\nSET status='expired'\nWHERE status='needs_human_review'\n  AND created_at < now() - INTERVAL '14 days'\nRETURNING id;", "options": {}}, "id": "ex000002-0002-0002-0002-000000000002", "name": "Expire Drafts", "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [460, 300], "credentials": {"postgres": {"id": "fOZmso5kyXr6Agdn", "name": "outreach-db-n8n"}}}, {"parameters": {"operation": "executeQuery", "query": "UPDATE approvals\nSET decision='rejected', approval_notes=COALESCE(approval_notes,'') || ' [auto-expired]'\nWHERE decision='approved' AND expires_at < now()\nRETURNING id;", "options": {}}, "id": "ex000003-0003-0003-0003-000000000003", "name": "Expire Approvals", "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [680, 300], "credentials": {"postgres": {"id": "fOZmso5kyXr6Agdn", "name": "outreach-db-n8n"}}}, {"parameters": {"jsCode": "const drafts_expired = $('Expire Drafts').all().length;\nconst approvals_expired = $('Expire Approvals').all().length;\n\nconst blocks = [\n  {\n    type: 'section',\n    text: {\n      type: 'mrkdwn',\n      text: `:hourglass: *Daily expiry:* ${drafts_expired} draft(s) expired, ${approvals_expired} approval(s) expired`\n    }\n  }\n];\n\nreturn [{\n  json: {\n    drafts_expired,\n    approvals_expired,\n    slack_blocks: blocks,\n    slack_text_fallback: `Daily expiry: ${drafts_expired} drafts, ${approvals_expired} approvals`\n  }\n}];"}, "id": "ex000004-0004-0004-0004-000000000004", "name": "Aggregate Counts", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [900, 300]}, {"parameters": {"select": "channel", "channelId": {"__rl": true, "value": "C0B4SUTP8R4", "mode": "id"}, "messageType": "block", "blocksUi": "={{ { blocks: $json.slack_blocks } }}", "text": "={{ $json.slack_text_fallback }}", "otherOptions": {}}, "id": "ex000005-0005-0005-0005-000000000005", "name": "Slack Post Summary", "type": "n8n-nodes-base.slack", "typeVersion": 2.3, "position": [1120, 300], "credentials": {"slackApi": {"id": "o9pysvcgZQFhoOLP", "name": "slack-bot-token"}}}], "connections": {"Schedule Trigger": {"main": [[{"node": "Expire Drafts", "type": "main", "index": 0}]]}, "Expire Drafts": {"main": [[{"node": "Expire Approvals", "type": "main", "index": 0}]]}, "Expire Approvals": {"main": [[{"node": "Aggregate Counts", "type": "main", "index": 0}]]}, "Aggregate Counts": {"main": [[{"node": "Slack Post Summary", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1"}, "staticData": {"node:Schedule Trigger": {"recurrenceRules": []}}, "meta": null, "pinData": null, "versionId": "ef6133c3-ffec-4a08-96c9-cc3e4f2d33d8", "activeVersionId": "ef6133c3-ffec-4a08-96c9-cc3e4f2d33d8", "versionCounter": 3, "triggerCount": 1, "tags": [], "shared": [{"updatedAt": "2026-05-20T01:05:16.738Z", "createdAt": "2026-05-20T01:05:16.738Z", "role": "workflow:owner", "workflowId": "eXp1rEsTaLeWf001", "projectId": "JGmgbrvKk4KLD2WH", "project": {"updatedAt": "2025-09-03T13:34:38.940Z", "createdAt": "2025-09-03T13:25:25.897Z", "id": "JGmgbrvKk4KLD2WH", "name": "Jeremy Corbello <jacorbello@gmail.com>", "type": "personal", "icon": null, "description": null, "creatorId": "267d3922-bc61-4b1d-a99c-8d3098aa7a70"}}], "versionMetadata": {"name": null, "description": null}}]