apps/outreach-workflows/n8n/manual-publish.json
[{"updatedAt": "2026-05-20T01:36:35.000Z", "createdAt": "2026-05-19T12:00:00.000Z", "id": "mAnUaLpUbLiSh0001", "name": "outreach-manual-publish", "description": "Runs every 2 minutes. Finds approved approvals not yet DM'd, sends a Slack DM to the operator with the approved text to paste, and logs the send to outcomes. SYSTEMD REQUIREMENT: /etc/systemd/system/n8n.service.d/slack-env.conf must set SLACK_OUTREACH_OPERATOR_USER_ID=<from Infisical> and N8N_BLOCK_ENV_ACCESS_IN_NODE=false for $env access in expressions to work.", "active": true, "isArchived": false, "nodes": [{"parameters": {"rule": {"interval": [{"field": "minutes", "minutesInterval": 2}]}}, "id": "mp000001-0001-0001-0001-000000000001", "name": "Schedule Trigger", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.2, "position": [240, 300]}, {"parameters": {"operation": "executeQuery", "query": "SELECT a.id, a.draft_id, a.decision, a.edited_text, a.approved_destination, a.approved_post_type,\n       a.approved_content_hash, a.expires_at,\n       d.draft_text, oi.source_url, oi.source_platform\nFROM approvals a\nJOIN drafts d ON d.id = a.draft_id\nJOIN outreach_items oi ON oi.id = d.outreach_item_id\nWHERE a.decision IN ('approved', 'manual_only')\n  AND a.expires_at > now()\n  AND a.id NOT IN (\n    SELECT (notes::jsonb->>'approval_id')::bigint\n    FROM outcomes\n    WHERE notes::jsonb ? 'approval_id' AND notes::jsonb->>'kind' = 'manual_dm_sent'\n  )\nORDER BY a.id\nLIMIT 10;", "options": {}}, "id": "mp000002-0002-0002-0002-000000000002", "name": "Find Unsent Approvals", "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [460, 300], "credentials": {"postgres": {"id": "fOZmso5kyXr6Agdn", "name": "outreach-db-n8n"}}}, {"parameters": {"batchSize": 1, "options": {}}, "id": "mp000003-0003-0003-0003-000000000003", "name": "Split In Batches", "type": "n8n-nodes-base.splitInBatches", "typeVersion": 3, "position": [680, 300]}, {"parameters": {"jsCode": "const item = $input.item.json;\nconst finalText = item.edited_text || item.draft_text || '';\nconst approvalId = item.id;\nconst destination = item.approved_destination || '';\nconst sourceUrl = item.source_url || '';\nconst platform = item.source_platform || '';\nconst postType = item.approved_post_type || '';\n\n// Sanitize backticks so they don't break the code fence\nconst safeText = String(finalText).replace(/```/g, '` ` `');\n\nconst blocks = [\n  {type: 'section', text: {type: 'mrkdwn', text: \n    `:outbox_tray: *Approval #${approvalId} ready to paste*\\n` +\n    `*Destination:* \\`${destination}\\`` + (postType ? ` (post type: \\`${postType}\\`)` : '') + `\\n` +\n    `*Source:* <${sourceUrl}|${platform || 'view source'}>`}},\n  {type: 'divider'},\n  {type: 'section', text: {type: 'mrkdwn', text: '```' + safeText + '```'}},\n];\n\nreturn [{json: {\n  ...item,\n  final_text: finalText,\n  slack_blocks: blocks,\n  slack_text_fallback: `Approval #${approvalId} ready to paste — ${destination}`,\n}}];"}, "id": "mp000004-0004-0004-0004-000000000004", "name": "Build DM", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [900, 300]}, {"parameters": {"select": "channel", "channelId": {"__rl": true, "value": "={{ $env.SLACK_OUTREACH_OPERATOR_USER_ID }}", "mode": "id"}, "messageType": "block", "blocksUi": "={{ { blocks: $json.slack_blocks } }}", "text": "={{ $json.slack_text_fallback }}", "otherOptions": {}}, "id": "mp000005-0005-0005-0005-000000000005", "name": "Slack Send DM", "type": "n8n-nodes-base.slack", "typeVersion": 2.3, "position": [1120, 300], "credentials": {"slackApi": {"id": "o9pysvcgZQFhoOLP", "name": "slack-bot-token"}}}, {"parameters": {"operation": "executeQuery", "query": "INSERT INTO outcomes (publish_job_id, notes)\nVALUES (NULL, jsonb_build_object('approval_id', $1::bigint, 'kind', 'manual_dm_sent')::text);", "options": {"queryReplacement": "={{ [$('Build DM').item.json.id] }}"}}, "id": "mp000006-0006-0006-0006-000000000006", "name": "Log DM Sent", "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [1340, 300], "credentials": {"postgres": {"id": "fOZmso5kyXr6Agdn", "name": "outreach-db-n8n"}}}], "connections": {"Schedule Trigger": {"main": [[{"node": "Find Unsent Approvals", "type": "main", "index": 0}]]}, "Find Unsent Approvals": {"main": [[{"node": "Split In Batches", "type": "main", "index": 0}]]}, "Split In Batches": {"main": [[], [{"node": "Build DM", "type": "main", "index": 0}]]}, "Build DM": {"main": [[{"node": "Slack Send DM", "type": "main", "index": 0}]]}, "Slack Send DM": {"main": [[{"node": "Log DM Sent", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1"}, "staticData": {"node:Schedule Trigger": {"recurrenceRules": []}}, "meta": null, "pinData": null, "versionId": "8aeb834a-70f5-4b10-93bb-817a8b1dadb8", "activeVersionId": "8aeb834a-70f5-4b10-93bb-817a8b1dadb8", "versionCounter": 3, "triggerCount": 1, "tags": [], "shared": [{"updatedAt": "2026-05-20T01:30:47.858Z", "createdAt": "2026-05-20T01:30:47.858Z", "role": "workflow:owner", "workflowId": "mAnUaLpUbLiSh0001", "projectId": "JGmgbrvKk4KLD2WH", "project": {"updatedAt": "2025-09-03T13:34:38.940Z", "createdAt": "2025-09-03T13:25:25.897Z", "id": "JGmgbrvKk4KLD2WH", "name": "Jeremy Corbello <jacorbello@gmail.com>", "type": "personal", "icon": null, "description": null, "creatorId": "267d3922-bc61-4b1d-a99c-8d3098aa7a70"}}], "versionMetadata": {"name": null, "description": null}}]