apps/outreach-workflows/n8n/poll.json
[{"id": "pOlLpUbLiShReS01", "name": "outreach-publish-poll", "active": false, "isArchived": false, "nodes": [{"parameters": {"rule": {"interval": [{"field": "minutes", "minutesInterval": 2}]}}, "id": "po000001-0001-0000-0000-000000000001", "name": "Schedule Trigger", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1, "position": [200, 300]}, {"parameters": {"operation": "executeQuery", "query": "SELECT pj.id AS publish_job_id, pj.postiz_post_id, pj.sent_at, EXTRACT(EPOCH FROM (now() - pj.sent_at)) AS age_seconds, (SELECT d.outreach_item_id FROM approvals a JOIN drafts d ON d.id = a.draft_id WHERE a.id = pj.approval_id) AS outreach_item_id FROM publish_jobs pj WHERE pj.status = 'sent_to_postiz' AND pj.published_at IS NULL ORDER BY pj.sent_at NULLS FIRST, pj.id;", "options": {}}, "id": "po000002-0001-0000-0000-000000000002", "name": "Fetch Pending", "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [420, 300], "credentials": {"postgres": {"id": "fOZmso5kyXr6Agdn", "name": "outreach-db-n8n"}}}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"}, "conditions": [{"id": "p1", "leftValue": "={{ $json.publish_job_id }}", "rightValue": "", "operator": {"type": "string", "operation": "exists"}}], "combinator": "and"}, "options": {}}, "id": "po000003-0001-0000-0000-000000000003", "name": "Any Pending?", "type": "n8n-nodes-base.if", "typeVersion": 2.2, "position": [640, 300]}, {"parameters": {"mode": "runOnceForAllItems", "jsCode": "const rows = $input.all().map(i => i.json);\nconst sentAts = rows.map(r => new Date(r.sent_at)).filter(d => !isNaN(d.getTime()));\nconst minSent = sentAts.length ? new Date(Math.min(...sentAts.map(d => d.getTime()))) : new Date(Date.now() - 60*60*1000);\nconst SLACK_MS = 5 * 60 * 1000;\nconst startDate = new Date(minSent.getTime() - SLACK_MS).toISOString();\nconst endDate = new Date(Date.now() + SLACK_MS).toISOString();\nreturn { json: { startDate, endDate, rows } };"}, "id": "po000004-0001-0000-0000-000000000004", "name": "Compute Window Bounds", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [860, 200]}, {"parameters": {"method": "GET", "url": "={{ $env.POSTIZ_API_BASE_URL }}/posts?startDate={{ encodeURIComponent($json.startDate) }}&endDate={{ encodeURIComponent($json.endDate) }}", "authentication": "predefinedCredentialType", "nodeCredentialType": "httpHeaderAuth", "options": {}}, "id": "po000005-0001-0000-0000-000000000005", "name": "Postiz List Posts", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1080, 200], "credentials": {"httpHeaderAuth": {"id": "pZtZApIkEy00000A", "name": "postiz-api-key"}}, "onError": "continueErrorOutput"}, {"parameters": {"mode": "runOnceForAllItems", "jsCode": "// Build map: postiz_id -> { state, publishDate, releaseURL }\nconst resp = $input.first().json;\nconst posts = (resp && resp.posts) || [];\nconst byId = new Map();\nfor (const p of posts) byId.set(p.id, p);\n\nconst STUCK_THRESHOLD_SECONDS = 30 * 60;\nconst KNOWN_STATES = new Set(['PUBLISHED', 'QUEUE', 'ERROR']);\n\nconst rows = $('Compute Window Bounds').item.json.rows || [];\nconst out = [];\nfor (const r of rows) {\n  const post = byId.get(r.postiz_post_id);\n  if (!post) {\n    out.push({ json: { publish_job_id: r.publish_job_id, outreach_item_id: r.outreach_item_id, postiz_post_id: r.postiz_post_id, action: 'FAIL_ORPHAN', payload: {} } });\n    continue;\n  }\n  if (!KNOWN_STATES.has(post.state)) {\n    out.push({ json: { publish_job_id: r.publish_job_id, outreach_item_id: r.outreach_item_id, postiz_post_id: r.postiz_post_id, action: 'WARN_UNKNOWN', payload: { state: post.state } } });\n    continue;\n  }\n  if (post.state === 'PUBLISHED') {\n    out.push({ json: { publish_job_id: r.publish_job_id, outreach_item_id: r.outreach_item_id, postiz_post_id: r.postiz_post_id, action: 'PUBLISH', payload: { publish_date: post.publishDate, release_url: post.releaseURL || '' } } });\n    continue;\n  }\n  if (post.state === 'ERROR') {\n    out.push({ json: { publish_job_id: r.publish_job_id, outreach_item_id: r.outreach_item_id, postiz_post_id: r.postiz_post_id, action: 'FAIL_ERROR', payload: {} } });\n    continue;\n  }\n  // QUEUE\n  if (Number(r.age_seconds) >= STUCK_THRESHOLD_SECONDS) {\n    out.push({ json: { publish_job_id: r.publish_job_id, outreach_item_id: r.outreach_item_id, postiz_post_id: r.postiz_post_id, action: 'STUCK', payload: { age_seconds: Number(r.age_seconds) } } });\n  } else {\n    out.push({ json: { publish_job_id: r.publish_job_id, outreach_item_id: r.outreach_item_id, postiz_post_id: r.postiz_post_id, action: 'NOOP', payload: {} } });\n  }\n}\nreturn out;"}, "id": "po000006-0001-0000-0000-000000000006", "name": "Reconcile", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1300, 200]}, {"parameters": {"rules": {"values": [{"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"}, "conditions": [{"id": "a1", "leftValue": "={{ $json.action }}", "rightValue": "PUBLISH", "operator": {"type": "string", "operation": "equals"}}], "combinator": "and"}, "renameOutput": true, "outputKey": "publish"}, {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"}, "conditions": [{"id": "a2", "leftValue": "={{ $json.action }}", "rightValue": "FAIL_ERROR", "operator": {"type": "string", "operation": "equals"}}], "combinator": "and"}, "renameOutput": true, "outputKey": "fail_error"}, {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"}, "conditions": [{"id": "a3", "leftValue": "={{ $json.action }}", "rightValue": "FAIL_ORPHAN", "operator": {"type": "string", "operation": "equals"}}], "combinator": "and"}, "renameOutput": true, "outputKey": "fail_orphan"}, {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"}, "conditions": [{"id": "a4", "leftValue": "={{ $json.action }}", "rightValue": "STUCK", "operator": {"type": "string", "operation": "equals"}}], "combinator": "and"}, "renameOutput": true, "outputKey": "stuck"}, {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"}, "conditions": [{"id": "a5", "leftValue": "={{ $json.action }}", "rightValue": "WARN_UNKNOWN", "operator": {"type": "string", "operation": "equals"}}], "combinator": "and"}, "renameOutput": true, "outputKey": "warn_unknown"}]}, "options": {"fallbackOutput": "extra"}}, "id": "po000007-0001-0000-0000-000000000007", "name": "Switch by Action", "type": "n8n-nodes-base.switch", "typeVersion": 3, "position": [1520, 300]}, {"parameters": {"operation": "executeQuery", "query": "WITH pj_update AS (   UPDATE publish_jobs      SET status='published', published_at=$1::timestamptz, published_url=$2    WHERE id=$3 AND status='sent_to_postiz' AND published_at IS NULL   RETURNING id, (SELECT d.outreach_item_id FROM approvals a JOIN drafts d ON d.id=a.draft_id WHERE a.id=approval_id) AS outreach_item_id ), oi_update AS (   UPDATE outreach_items SET status='published'    WHERE id=(SELECT outreach_item_id FROM pj_update) AND status='reviewed'   RETURNING id ) INSERT INTO outcomes (publish_job_id, notes) SELECT id, jsonb_build_object('kind','publish_confirmed','outreach_item_id',(SELECT outreach_item_id FROM pj_update),'postiz_post_id',$4,'published_at',$1,'published_url',$2)::text   FROM pj_update;", "options": {"queryReplacement": "={{ [$json.payload.publish_date, $json.payload.release_url, $json.publish_job_id, $json.postiz_post_id] }}"}}, "id": "po000008-0001-0000-0000-000000000008", "name": "Mark Published & Log", "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [1740, 100], "credentials": {"postgres": {"id": "fOZmso5kyXr6Agdn", "name": "outreach-db-n8n"}}}, {"parameters": {"operation": "executeQuery", "query": "WITH pj_update AS (   UPDATE publish_jobs SET status='failed', failure_reason='Postiz state=ERROR'    WHERE id=$1 AND status='sent_to_postiz'   RETURNING id ) INSERT INTO outcomes (publish_job_id, notes) SELECT id, jsonb_build_object('kind','publish_failed','outreach_item_id',$2::bigint,'postiz_post_id',$3,'reason','postiz_error')::text   FROM pj_update;", "options": {"queryReplacement": "={{ [$json.publish_job_id, $json.outreach_item_id, $json.postiz_post_id] }}"}}, "id": "po000009-0001-0000-0000-000000000009", "name": "Mark Failed (ERROR) & Log", "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [1740, 220], "credentials": {"postgres": {"id": "fOZmso5kyXr6Agdn", "name": "outreach-db-n8n"}}}, {"parameters": {"operation": "executeQuery", "query": "WITH pj_update AS (   UPDATE publish_jobs SET status='failed', failure_reason='Postiz post not found'    WHERE id=$1 AND status='sent_to_postiz'   RETURNING id ) INSERT INTO outcomes (publish_job_id, notes) SELECT id, jsonb_build_object('kind','publish_orphaned','outreach_item_id',$2::bigint,'postiz_post_id',$3,'reason','postiz_orphan')::text   FROM pj_update;", "options": {"queryReplacement": "={{ [$json.publish_job_id, $json.outreach_item_id, $json.postiz_post_id] }}"}}, "id": "po000010-0001-0000-0000-00000000000a", "name": "Mark Failed (Orphan) & Log", "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [1740, 340], "credentials": {"postgres": {"id": "fOZmso5kyXr6Agdn", "name": "outreach-db-n8n"}}}, {"parameters": {"operation": "executeQuery", "query": "WITH pj_update AS (   UPDATE publish_jobs SET status='manual_post_required', failure_reason='Stuck in Postiz QUEUE >30m'    WHERE id=$1 AND status='sent_to_postiz'   RETURNING id ) INSERT INTO outcomes (publish_job_id, notes) SELECT id, jsonb_build_object('kind','publish_stuck','outreach_item_id',$2::bigint,'postiz_post_id',$3,'age_seconds',$4::int)::text   FROM pj_update;", "options": {"queryReplacement": "={{ [$json.publish_job_id, $json.outreach_item_id, $json.postiz_post_id, $json.payload.age_seconds] }}"}}, "id": "po000011-0001-0000-0000-00000000000b", "name": "Mark Manual (Stuck) & Log", "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [1740, 460], "credentials": {"postgres": {"id": "fOZmso5kyXr6Agdn", "name": "outreach-db-n8n"}}}, {"parameters": {"select": "channel", "channelId": {"__rl": true, "value": "C0B4SUTP8R4", "mode": "id"}, "text": "={{ ':rotating_light: outreach-poll *publish_failed* \u2014 publish_job=' + $json.publish_job_id + ', outreach_item=' + $json.outreach_item_id + ', postiz_post=' + $json.postiz_post_id + '. Postiz Post.state=ERROR. Investigate Postiz logs.' }}", "messageType": "text", "otherOptions": {}}, "id": "po000012-0001-0000-0000-00000000000c", "name": "Slack Alert Failed", "type": "n8n-nodes-base.slack", "typeVersion": 2.3, "position": [1960, 220], "credentials": {"slackApi": {"id": "o9pysvcgZQFhoOLP", "name": "slack-bot-token"}}}, {"parameters": {"select": "channel", "channelId": {"__rl": true, "value": "C0B4SUTP8R4", "mode": "id"}, "text": "={{ ':rotating_light: outreach-poll *publish_orphaned* \u2014 publish_job=' + $json.publish_job_id + ', outreach_item=' + $json.outreach_item_id + ', postiz_post=' + $json.postiz_post_id + '. Postiz post not found in list (deleted via UI?).' }}", "messageType": "text", "otherOptions": {}}, "id": "po000013-0001-0000-0000-00000000000d", "name": "Slack Alert Orphaned", "type": "n8n-nodes-base.slack", "typeVersion": 2.3, "position": [1960, 340], "credentials": {"slackApi": {"id": "o9pysvcgZQFhoOLP", "name": "slack-bot-token"}}}, {"parameters": {"select": "channel", "channelId": {"__rl": true, "value": "C0B4SUTP8R4", "mode": "id"}, "text": "={{ ':rotating_light: outreach-poll *publish_stuck* \u2014 publish_job=' + $json.publish_job_id + ', outreach_item=' + $json.outreach_item_id + ', postiz_post=' + $json.postiz_post_id + '. Stuck in Postiz QUEUE for ' + Math.floor(Number($json.payload.age_seconds)/60) + ' min.' }}", "messageType": "text", "otherOptions": {}}, "id": "po000014-0001-0000-0000-00000000000e", "name": "Slack Alert Stuck", "type": "n8n-nodes-base.slack", "typeVersion": 2.3, "position": [1960, 460], "credentials": {"slackApi": {"id": "o9pysvcgZQFhoOLP", "name": "slack-bot-token"}}}, {"parameters": {"select": "channel", "channelId": {"__rl": true, "value": "C0B4SUTP8R4", "mode": "id"}, "text": "={{ ':warning: outreach-poll *unknown_postiz_state* \u2014 publish_job=' + $json.publish_job_id + ', postiz_post=' + $json.postiz_post_id + ', state=`' + $json.payload.state + '`. Add handling to Reconcile.' }}", "messageType": "text", "otherOptions": {}}, "id": "po000015-0001-0000-0000-00000000000f", "name": "Slack Warning Unknown", "type": "n8n-nodes-base.slack", "typeVersion": 2.3, "position": [1740, 580], "credentials": {"slackApi": {"id": "o9pysvcgZQFhoOLP", "name": "slack-bot-token"}}}, {"parameters": {"select": "channel", "channelId": {"__rl": true, "value": "C0B4SUTP8R4", "mode": "id"}, "text": "={{ ':rotating_light: outreach-poll *postiz_http_failure* \u2014 ' + (String($json.error || JSON.stringify($json)).slice(0, 400)) }}", "messageType": "text", "otherOptions": {}}, "id": "po000016-0001-0000-0000-000000000010", "name": "Slack Alert Postiz HTTP", "type": "n8n-nodes-base.slack", "typeVersion": 2.3, "position": [1300, 460], "credentials": {"slackApi": {"id": "o9pysvcgZQFhoOLP", "name": "slack-bot-token"}}}], "connections": {"Schedule Trigger": {"main": [[{"node": "Fetch Pending", "type": "main", "index": 0}]]}, "Fetch Pending": {"main": [[{"node": "Any Pending?", "type": "main", "index": 0}]]}, "Any Pending?": {"main": [[{"node": "Compute Window Bounds", "type": "main", "index": 0}], []]}, "Compute Window Bounds": {"main": [[{"node": "Postiz List Posts", "type": "main", "index": 0}]]}, "Postiz List Posts": {"main": [[{"node": "Reconcile", "type": "main", "index": 0}], [{"node": "Slack Alert Postiz HTTP", "type": "main", "index": 0}]]}, "Reconcile": {"main": [[{"node": "Switch by Action", "type": "main", "index": 0}]]}, "Switch by Action": {"main": [[{"node": "Mark Published & Log", "type": "main", "index": 0}], [{"node": "Mark Failed (ERROR) & Log", "type": "main", "index": 0}], [{"node": "Mark Failed (Orphan) & Log", "type": "main", "index": 0}], [{"node": "Mark Manual (Stuck) & Log", "type": "main", "index": 0}], [{"node": "Slack Warning Unknown", "type": "main", "index": 0}]]}, "Mark Failed (ERROR) & Log": {"main": [[{"node": "Slack Alert Failed", "type": "main", "index": 0}]]}, "Mark Failed (Orphan) & Log": {"main": [[{"node": "Slack Alert Orphaned", "type": "main", "index": 0}]]}, "Mark Manual (Stuck) & Log": {"main": [[{"node": "Slack Alert Stuck", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1"}, "staticData": null, "meta": null, "pinData": null, "tags": [], "versionId": "", "triggerCount": 1}]