apps/outreach-workflows/n8n/publish-dispatcher.json
[{"updatedAt":"2026-05-20T17:19:29.000Z","createdAt":"2026-05-20T17:19:09.390Z","id":"pUbLiShDiSpAtCh01","name":"outreach-publish-dispatcher","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":2}]}},"id":"pd0000a1-0001-0000-0000-000000000001","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1,"position":[200,300]},{"parameters":{"operation":"executeQuery","query":"SELECT pj.id AS publish_job_id, pj.approval_id, pj.destination_platform, pj.destination_account, pj.publish_mode, pj.payload_hash, pj.attempt_count, a.approved_content_hash, a.approved_destination, a.approved_post_type, COALESCE(a.edited_text, d.draft_text) AS final_text, d.outreach_item_id FROM publish_jobs pj JOIN approvals a ON a.id = pj.approval_id JOIN drafts d ON d.id = a.draft_id WHERE pj.status = 'ready' AND pj.attempt_count < 3 ORDER BY pj.scheduled_for NULLS FIRST, pj.id LIMIT 20;","options":{}},"id":"pd0000a2-0001-0000-0000-000000000002","name":"Fetch Ready","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[420,300],"credentials":{"postgres":{"id":"fOZmso5kyXr6Agdn","name":"outreach-db-n8n"}}},{"parameters":{"batchSize":1,"options":{}},"id":"pd0000a3-0001-0000-0000-000000000003","name":"Split In Batches","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[640,300]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// SHA-256 pure-JS implementation — same as Phase 1's Build Approval node.\n// require('crypto') is blocked in n8n 2.9.4 task runner.\nfunction sha256(input) {\n  const K = [0x428a2f98,0x71374491,0xb5c0fbcf,0xe9b5dba5,0x3956c25b,0x59f111f1,0x923f82a4,0xab1c5ed5,0xd807aa98,0x12835b01,0x243185be,0x550c7dc3,0x72be5d74,0x80deb1fe,0x9bdc06a7,0xc19bf174,0xe49b69c1,0xefbe4786,0x0fc19dc6,0x240ca1cc,0x2de92c6f,0x4a7484aa,0x5cb0a9dc,0x76f988da,0x983e5152,0xa831c66d,0xb00327c8,0xbf597fc7,0xc6e00bf3,0xd5a79147,0x06ca6351,0x14292967,0x27b70a85,0x2e1b2138,0x4d2c6dfc,0x53380d13,0x650a7354,0x766a0abb,0x81c2c92e,0x92722c85,0xa2bfe8a1,0xa81a664b,0xc24b8b70,0xc76c51a3,0xd192e819,0xd6990624,0xf40e3585,0x106aa070,0x19a4c116,0x1e376c08,0x2748774c,0x34b0bcb5,0x391c0cb3,0x4ed8aa4a,0x5b9cca4f,0x682e6ff3,0x748f82ee,0x78a5636f,0x84c87814,0x8cc70208,0x90befffa,0xa4506ceb,0xbef9a3f7,0xc67178f2];\n  let H = [0x6a09e667,0xbb67ae85,0x3c6ef372,0xa54ff53a,0x510e527f,0x9b05688c,0x1f83d9ab,0x5be0cd19];\n  const bytes = [];\n  for (let i = 0; i < input.length; i++) {\n    const c = input.charCodeAt(i);\n    if (c < 0x80) bytes.push(c);\n    else if (c < 0x800) { bytes.push(0xc0|(c>>6)); bytes.push(0x80|(c&0x3f)); }\n    else if (c < 0xd800 || c >= 0xe000) { bytes.push(0xe0|(c>>12)); bytes.push(0x80|((c>>6)&0x3f)); bytes.push(0x80|(c&0x3f)); }\n    else { i++; const c2 = input.charCodeAt(i); const cp = 0x10000 + (((c & 0x3ff) << 10) | (c2 & 0x3ff)); bytes.push(0xf0|(cp>>18)); bytes.push(0x80|((cp>>12)&0x3f)); bytes.push(0x80|((cp>>6)&0x3f)); bytes.push(0x80|(cp&0x3f)); }\n  }\n  const bitLen = bytes.length * 8;\n  bytes.push(0x80);\n  while ((bytes.length % 64) !== 56) bytes.push(0);\n  for (let i = 7; i >= 0; i--) bytes.push((bitLen >>> (i*8)) & 0xff);\n  for (let chunk = 0; chunk < bytes.length; chunk += 64) {\n    const W = new Array(64);\n    for (let i = 0; i < 16; i++) W[i] = (bytes[chunk+i*4]<<24)|(bytes[chunk+i*4+1]<<16)|(bytes[chunk+i*4+2]<<8)|bytes[chunk+i*4+3];\n    for (let i = 16; i < 64; i++) {\n      const s0 = ((W[i-15]>>>7)|(W[i-15]<<25)) ^ ((W[i-15]>>>18)|(W[i-15]<<14)) ^ (W[i-15]>>>3);\n      const s1 = ((W[i-2]>>>17)|(W[i-2]<<15)) ^ ((W[i-2]>>>19)|(W[i-2]<<13)) ^ (W[i-2]>>>10);\n      W[i] = (W[i-16] + s0 + W[i-7] + s1) | 0;\n    }\n    let [a,b,c,d,e,f,g,h] = H;\n    for (let i = 0; i < 64; i++) {\n      const S1 = ((e>>>6)|(e<<26)) ^ ((e>>>11)|(e<<21)) ^ ((e>>>25)|(e<<7));\n      const ch = (e & f) ^ (~e & g);\n      const t1 = (h + S1 + ch + K[i] + W[i]) | 0;\n      const S0 = ((a>>>2)|(a<<30)) ^ ((a>>>13)|(a<<19)) ^ ((a>>>22)|(a<<10));\n      const mj = (a & b) ^ (a & c) ^ (b & c);\n      const t2 = (S0 + mj) | 0;\n      h = g; g = f; f = e; e = (d + t1) | 0; d = c; c = b; b = a; a = (t1 + t2) | 0;\n    }\n    H = [(H[0]+a)|0,(H[1]+b)|0,(H[2]+c)|0,(H[3]+d)|0,(H[4]+e)|0,(H[5]+f)|0,(H[6]+g)|0,(H[7]+h)|0];\n  }\n  return H.map(n => (n>>>0).toString(16).padStart(8,'0')).join('');\n}\n\nconst item = $input.item.json;\nconst finalText = item.final_text || '';\nconst destination = item.approved_destination || '';\nconst postType = item.approved_post_type || '';\nconst computedHash = sha256(finalText + destination + postType);\n\nif (computedHash !== item.approved_content_hash) {\n  throw new Error(`Hash mismatch — refusing to publish. expected=${item.approved_content_hash} computed=${computedHash}`);\n}\n\nreturn [{json: {...item, hash_verified: true}}];"},"id":"pd0000a4-0001-0000-0000-000000000004","name":"Verify Hash","type":"n8n-nodes-base.code","typeVersion":2,"position":[860,300],"onError":"continueErrorOutput"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"r1","leftValue":"={{ $json.publish_mode }}","rightValue":"postiz_scheduled","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"postiz"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"r2","leftValue":"={{ $json.publish_mode }}","rightValue":"postiz_immediate","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"postiz"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"r3","leftValue":"={{ $json.publish_mode }}","rightValue":"manual_required","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"manual"}]},"options":{}},"id":"pd0000a5-0001-0000-0000-000000000005","name":"Route by publish_mode","type":"n8n-nodes-base.switch","typeVersion":3,"position":[1080,300]},{"parameters":{"method":"POST","url":"={{ $env.POSTIZ_API_BASE_URL }}/posts","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ type: $json.publish_mode === 'postiz_immediate' ? 'now' : 'schedule', integration: { id: $json.destination_account }, posts: [{ value: [{ content: $json.final_text }] }] }) }}","options":{}},"id":"pd0000a6-0001-0000-0000-000000000006","name":"Postiz Create Post","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1300,200],"credentials":{"httpHeaderAuth":{"id":"pZtZApIkEy00000A","name":"postiz-api-key"}},"onError":"continueErrorOutput"},{"parameters":{"operation":"executeQuery","query":"UPDATE publish_jobs SET status='sent_to_postiz', postiz_post_id=$1, sent_at=now() WHERE id=$2 RETURNING id, status;","options":{"queryReplacement":"={{ [$json.id || $json.postId || $json.post_id || '', $('Verify Hash').item.json.publish_job_id] }}"}},"id":"pd0000a7-0001-0000-0000-000000000007","name":"Mark Sent","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1520,100],"credentials":{"postgres":{"id":"fOZmso5kyXr6Agdn","name":"outreach-db-n8n"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE publish_jobs SET status='failed', failure_reason=$1, attempt_count=attempt_count+1 WHERE id=$2;","options":{"queryReplacement":"={{ [String($json.error || JSON.stringify($json)).slice(0, 500), $('Verify Hash').item.json.publish_job_id] }}"}},"id":"pd0000a8-0001-0000-0000-000000000008","name":"Mark Failed","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1520,300],"credentials":{"postgres":{"id":"fOZmso5kyXr6Agdn","name":"outreach-db-n8n"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE publish_jobs SET status='failed', failure_reason=$1, attempt_count=attempt_count+1 WHERE id=$2;","options":{"queryReplacement":"={{ [String($json.error || 'Hash mismatch').slice(0, 500), $json.publish_job_id] }}"}},"id":"pd0000ac-0001-0000-0000-00000000000c","name":"Mark Failed Hash","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[860,500],"credentials":{"postgres":{"id":"fOZmso5kyXr6Agdn","name":"outreach-db-n8n"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE publish_jobs SET status='manual_post_required' WHERE id=$1 RETURNING id, status;","options":{"queryReplacement":"={{ [$('Verify Hash').item.json.publish_job_id] }}"}},"id":"pd0000a9-0001-0000-0000-000000000009","name":"Mark Manual","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1520,500],"credentials":{"postgres":{"id":"fOZmso5kyXr6Agdn","name":"outreach-db-n8n"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE outreach_items SET status='published' WHERE id=$1 AND NOT EXISTS (SELECT 1 FROM publish_jobs pj JOIN approvals a ON a.id=pj.approval_id JOIN drafts d ON d.id=a.draft_id WHERE d.outreach_item_id=$1 AND pj.status NOT IN ('sent_to_postiz','published','manual_post_required'));","options":{"queryReplacement":"={{ [$('Verify Hash').item.json.outreach_item_id] }}"}},"id":"pd0000b0-0001-0000-0000-00000000000a","name":"Rollup outreach_items","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1740,300],"credentials":{"postgres":{"id":"fOZmso5kyXr6Agdn","name":"outreach-db-n8n"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Fetch Ready","type":"main","index":0}]]},"Fetch Ready":{"main":[[{"node":"Split In Batches","type":"main","index":0}]]},"Split In Batches":{"main":[[],[{"node":"Verify Hash","type":"main","index":0}]]},"Verify Hash":{"main":[[{"node":"Route by publish_mode","type":"main","index":0}],[{"node":"Mark Failed Hash","type":"main","index":0}]]},"Route by publish_mode":{"main":[[{"node":"Postiz Create Post","type":"main","index":0}],[{"node":"Postiz Create Post","type":"main","index":0}],[{"node":"Mark Manual","type":"main","index":0}]]},"Postiz Create Post":{"main":[[{"node":"Mark Sent","type":"main","index":0}],[{"node":"Mark Failed","type":"main","index":0}]]},"Mark Sent":{"main":[[{"node":"Rollup outreach_items","type":"main","index":0}]]},"Mark Failed":{"main":[[{"node":"Rollup outreach_items","type":"main","index":0}]]},"Mark Failed Hash":{"main":[[]]},"Mark Manual":{"main":[[{"node":"Rollup outreach_items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":null,"pinData":null,"versionId":"10ff4aa4-0745-4e9e-8464-67e8780a9bcc","activeVersionId":"10ff4aa4-0745-4e9e-8464-67e8780a9bcc","versionCounter":6,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-05-20T17:19:09.392Z","createdAt":"2026-05-20T17:19:09.392Z","role":"workflow:owner","workflowId":"pUbLiShDiSpAtCh01","projectId":"JGmgbrvKk4KLD2WH","project":{"updatedAt":"2025-09-03T13:34:38.940Z","createdAt":"2025-09-03T13:25:25.897Z","id":"JGmgbrvKk4KLD2WH","name":"Jeremy Corbello <jacorbello@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"267d3922-bc61-4b1d-a99c-8d3098aa7a70"}}],"versionMetadata":{"name":null,"description":null}}]