apps/outreach-workflows/n8n/publish-dispatcher.json
[{"updatedAt": "2026-05-20T17:19:29.000Z", "createdAt": "2026-05-20T17:19:09.390Z", "id": "pUbLiShDiSpAtCh01", "name": "outreach-publish-dispatcher", "description": null, "active": true, "isArchived": false, "nodes": [{"parameters": {"rule": {"interval": [{"field": "minutes", "minutesInterval": 2}]}}, "id": "pd0000a1-0001-0000-0000-000000000001", "name": "Schedule Trigger", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1, "position": [200, 300]}, {"parameters": {"operation": "executeQuery", "query": "SELECT pj.id AS publish_job_id, pj.approval_id, pj.destination_platform, pj.destination_account, pj.publish_mode, pj.payload_hash, pj.attempt_count, a.approved_content_hash, a.approved_destination, a.approved_post_type, a.approved_platform, COALESCE(a.edited_text, d.draft_text) AS final_text, d.outreach_item_id FROM publish_jobs pj JOIN approvals a ON a.id = pj.approval_id JOIN drafts d ON d.id = a.draft_id WHERE pj.status = 'ready' AND pj.attempt_count < 3 ORDER BY pj.scheduled_for NULLS FIRST, pj.id LIMIT 20;", "options": {}}, "id": "pd0000a2-0001-0000-0000-000000000002", "name": "Fetch Ready", "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [420, 300], "credentials": {"postgres": {"id": "fOZmso5kyXr6Agdn", "name": "outreach-db-n8n"}}}, {"parameters": {"batchSize": 1, "options": {}}, "id": "pd0000a3-0001-0000-0000-000000000003", "name": "Split In Batches", "type": "n8n-nodes-base.splitInBatches", "typeVersion": 3, "position": [640, 300]}, {"parameters": {"mode": "runOnceForEachItem", "jsCode": "// SHA-256 pure-JS implementation \u2014 same as Phase 1's Build Approval node.\n// require('crypto') is blocked in n8n 2.9.4 task runner.\nfunction sha256(str) {\n  const bytes = [];\n  for (let i = 0; i < str.length; i++) {\n    let c = str.charCodeAt(i);\n    if (c < 0x80) { bytes.push(c); }\n    else if (c < 0x800) { bytes.push(0xC0|(c>>6), 0x80|(c&0x3F)); }\n    else if (c < 0xD800 || c >= 0xE000) { bytes.push(0xE0|(c>>12), 0x80|((c>>6)&0x3F), 0x80|(c&0x3F)); }\n    else { i++; c=0x10000+(((c&0x3FF)<<10)|(str.charCodeAt(i)&0x3FF)); bytes.push(0xF0|(c>>18),0x80|((c>>12)&0x3F),0x80|((c>>6)&0x3F),0x80|(c&0x3F)); }\n  }\n  const K=[0x428a2f98,0x71374491,0xb5c0fbcf,0xe9b5dba5,0x3956c25b,0x59f111f1,0x923f82a4,0xab1c5ed5,0xd807aa98,0x12835b01,0x243185be,0x550c7dc3,0x72be5d74,0x80deb1fe,0x9bdc06a7,0xc19bf174,0xe49b69c1,0xefbe4786,0x0fc19dc6,0x240ca1cc,0x2de92c6f,0x4a7484aa,0x5cb0a9dc,0x76f988da,0x983e5152,0xa831c66d,0xb00327c8,0xbf597fc7,0xc6e00bf3,0xd5a79147,0x06ca6351,0x14292967,0x27b70a85,0x2e1b2138,0x4d2c6dfc,0x53380d13,0x650a7354,0x766a0abb,0x81c2c92e,0x92722c85,0xa2bfe8a1,0xa81a664b,0xc24b8b70,0xc76c51a3,0xd192e819,0xd6990624,0xf40e3585,0x106aa070,0x19a4c116,0x1e376c08,0x2748774c,0x34b0bcb5,0x391c0cb3,0x4ed8aa4a,0x5b9cca4f,0x682e6ff3,0x748f82ee,0x78a5636f,0x84c87814,0x8cc70208,0x90befffa,0xa4506ceb,0xbef9a3f7,0xc67178f2];\n  let h0=0x6a09e667,h1=0xbb67ae85,h2=0x3c6ef372,h3=0xa54ff53a,h4=0x510e527f,h5=0x9b05688c,h6=0x1f83d9ab,h7=0x5be0cd19;\n  const msgLen=bytes.length; bytes.push(0x80);\n  while((bytes.length%64)!==56) bytes.push(0);\n  const bitLen=msgLen*8; bytes.push(0,0,0,0,(bitLen>>>24)&0xFF,(bitLen>>>16)&0xFF,(bitLen>>>8)&0xFF,bitLen&0xFF);\n  function rotr(x,n){return(x>>>n)|(x<<(32-n));}\n  function ch(x,y,z){return(x&y)^(~x&z);}\n  function maj(x,y,z){return(x&y)^(x&z)^(y&z);}\n  function sig0(x){return rotr(x,2)^rotr(x,13)^rotr(x,22);}\n  function sig1(x){return rotr(x,6)^rotr(x,11)^rotr(x,25);}\n  function gam0(x){return rotr(x,7)^rotr(x,18)^(x>>>3);}\n  function gam1(x){return rotr(x,17)^rotr(x,19)^(x>>>10);}\n  for(let offset=0;offset<bytes.length;offset+=64){\n    const w=new Array(64);\n    for(let i=0;i<16;i++) w[i]=((bytes[offset+i*4]<<24)|(bytes[offset+i*4+1]<<16)|(bytes[offset+i*4+2]<<8)|bytes[offset+i*4+3])>>>0;\n    for(let i=16;i<64;i++) w[i]=(gam1(w[i-2])+w[i-7]+gam0(w[i-15])+w[i-16])>>>0;\n    let a=h0,b=h1,c=h2,d=h3,e=h4,f=h5,g=h6,h=h7;\n    for(let i=0;i<64;i++){const t1=(h+sig1(e)+ch(e,f,g)+K[i]+w[i])>>>0;const t2=(sig0(a)+maj(a,b,c))>>>0;h=g;g=f;f=e;e=(d+t1)>>>0;d=c;c=b;b=a;a=(t1+t2)>>>0;}\n    h0=(h0+a)>>>0;h1=(h1+b)>>>0;h2=(h2+c)>>>0;h3=(h3+d)>>>0;h4=(h4+e)>>>0;h5=(h5+f)>>>0;h6=(h6+g)>>>0;h7=(h7+h)>>>0;\n  }\n  function hex(n){return('00000000'+(n>>>0).toString(16)).slice(-8);}\n  return hex(h0)+hex(h1)+hex(h2)+hex(h3)+hex(h4)+hex(h5)+hex(h6)+hex(h7);\n}\n\nconst item = $input.item.json;\nconst finalText = item.final_text || '';\nconst destination = item.approved_destination || '';\nconst postType = item.approved_post_type || '';\nconst platform = item.approved_platform || '';\nconst computedHash = sha256(finalText + destination + postType + platform);\n\nif (computedHash !== item.approved_content_hash) {\n  throw new Error(`Hash mismatch \u2014 refusing to publish. expected=${item.approved_content_hash} computed=${computedHash}`);\n}\n\nreturn [{json: {...item, hash_verified: true}}];"}, "id": "pd0000a4-0001-0000-0000-000000000004", "name": "Verify Hash", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [860, 300], "onError": "continueErrorOutput"}, {"parameters": {"rules": {"values": [{"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"}, "conditions": [{"id": "r1", "leftValue": "={{ $json.publish_mode }}", "rightValue": "postiz_scheduled", "operator": {"type": "string", "operation": "equals"}}], "combinator": "and"}, "renameOutput": true, "outputKey": "postiz"}, {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"}, "conditions": [{"id": "r2", "leftValue": "={{ $json.publish_mode }}", "rightValue": "postiz_immediate", "operator": {"type": "string", "operation": "equals"}}], "combinator": "and"}, "renameOutput": true, "outputKey": "postiz"}, {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"}, "conditions": [{"id": "r3", "leftValue": "={{ $json.publish_mode }}", "rightValue": "manual_required", "operator": {"type": "string", "operation": "equals"}}], "combinator": "and"}, "renameOutput": true, "outputKey": "manual"}]}, "options": {}}, "id": "pd0000a5-0001-0000-0000-000000000005", "name": "Route by publish_mode", "type": "n8n-nodes-base.switch", "typeVersion": 3, "position": [1080, 300]}, {"parameters": {"method": "POST", "url": "={{ $env.POSTIZ_API_BASE_URL }}/posts", "authentication": "predefinedCredentialType", "nodeCredentialType": "httpHeaderAuth", "sendBody": true, "specifyBody": "json", "jsonBody": "={{ JSON.stringify({ type: $json.publish_mode === 'postiz_immediate' ? 'now' : 'schedule', shortLink: false, date: new Date().toISOString(), tags: [], posts: [{ integration: { id: $json.destination_account }, value: [{ content: $json.final_text, image: [] }] }] }) }}", "options": {}}, "id": "pd0000a6-0001-0000-0000-000000000006", "name": "Postiz Create Post", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1300, 200], "credentials": {"httpHeaderAuth": {"id": "pZtZApIkEy00000A", "name": "postiz-api-key"}}, "onError": "continueErrorOutput"}, {"parameters": {"operation": "executeQuery", "query": "UPDATE publish_jobs SET status='sent_to_postiz', postiz_post_id=$1, sent_at=now() WHERE id=$2 RETURNING id, status;", "options": {"queryReplacement": "={{ [$json.id || $json.postId || $json.post_id || '', $('Verify Hash').item.json.publish_job_id] }}"}}, "id": "pd0000a7-0001-0000-0000-000000000007", "name": "Mark Sent", "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [1520, 100], "credentials": {"postgres": {"id": "fOZmso5kyXr6Agdn", "name": "outreach-db-n8n"}}}, {"parameters": {"operation": "executeQuery", "query": "UPDATE publish_jobs SET status='failed', failure_reason=$1, attempt_count=attempt_count+1 WHERE id=$2;", "options": {"queryReplacement": "={{ [String($json.error || JSON.stringify($json)).slice(0, 500), $('Verify Hash').item.json.publish_job_id] }}"}}, "id": "pd0000a8-0001-0000-0000-000000000008", "name": "Mark Failed", "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [1520, 300], "credentials": {"postgres": {"id": "fOZmso5kyXr6Agdn", "name": "outreach-db-n8n"}}}, {"parameters": {"operation": "executeQuery", "query": "UPDATE publish_jobs SET status='failed', failure_reason=$1, attempt_count=attempt_count+1 WHERE id=$2;", "options": {"queryReplacement": "={{ [String($json.error || 'Hash mismatch').slice(0, 500), $json.publish_job_id] }}"}}, "id": "pd0000ac-0001-0000-0000-00000000000c", "name": "Mark Failed Hash", "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [860, 500], "credentials": {"postgres": {"id": "fOZmso5kyXr6Agdn", "name": "outreach-db-n8n"}}}, {"parameters": {"operation": "executeQuery", "query": "UPDATE publish_jobs SET status='manual_post_required' WHERE id=$1 RETURNING id, status;", "options": {"queryReplacement": "={{ [$('Verify Hash').item.json.publish_job_id] }}"}}, "id": "pd0000a9-0001-0000-0000-000000000009", "name": "Mark Manual", "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [1520, 500], "credentials": {"postgres": {"id": "fOZmso5kyXr6Agdn", "name": "outreach-db-n8n"}}}], "connections": {"Schedule Trigger": {"main": [[{"node": "Fetch Ready", "type": "main", "index": 0}]]}, "Fetch Ready": {"main": [[{"node": "Split In Batches", "type": "main", "index": 0}]]}, "Split In Batches": {"main": [[], [{"node": "Verify Hash", "type": "main", "index": 0}]]}, "Verify Hash": {"main": [[{"node": "Route by publish_mode", "type": "main", "index": 0}], [{"node": "Mark Failed Hash", "type": "main", "index": 0}]]}, "Route by publish_mode": {"main": [[{"node": "Postiz Create Post", "type": "main", "index": 0}], [{"node": "Postiz Create Post", "type": "main", "index": 0}], [{"node": "Mark Manual", "type": "main", "index": 0}]]}, "Postiz Create Post": {"main": [[{"node": "Mark Sent", "type": "main", "index": 0}], [{"node": "Mark Failed", "type": "main", "index": 0}]]}, "Mark Sent": {"main": [[]]}, "Mark Failed": {"main": [[]]}, "Mark Failed Hash": {"main": [[]]}, "Mark Manual": {"main": [[]]}}, "settings": {"executionOrder": "v1"}, "staticData": {"node:Schedule Trigger": {"recurrenceRules": []}}, "meta": null, "pinData": null, "versionId": "10ff4aa4-0745-4e9e-8464-67e8780a9bcc", "activeVersionId": "10ff4aa4-0745-4e9e-8464-67e8780a9bcc", "versionCounter": 6, "triggerCount": 1, "tags": [], "shared": [{"updatedAt": "2026-05-20T17:19:09.392Z", "createdAt": "2026-05-20T17:19:09.392Z", "role": "workflow:owner", "workflowId": "pUbLiShDiSpAtCh01", "projectId": "JGmgbrvKk4KLD2WH", "project": {"updatedAt": "2025-09-03T13:34:38.940Z", "createdAt": "2025-09-03T13:25:25.897Z", "id": "JGmgbrvKk4KLD2WH", "name": "Jeremy Corbello <jacorbello@gmail.com>", "type": "personal", "icon": null, "description": null, "creatorId": "267d3922-bc61-4b1d-a99c-8d3098aa7a70"}}], "versionMetadata": {"name": null, "description": null}}]