apps/outreach-workflows/n8n/review.json
[{"updatedAt":"2026-05-20T17:27:33.000Z","createdAt":"2026-05-19T21:19:20.700Z","id":"rEv1eWoUtReAcH001","name":"outreach-review-notify","description":"Finds drafted outreach items needing human review and posts Slack notifications with quick-action buttons. T27 adds GET /webhook/render-approval-form (this commit); T28 adds POST /webhook/submit-approval with atomic CTE write and save_for_later no-op. TODO(phase2): migrate notification log from outcomes to a dedicated notifications table. NOTE: Slack channel C0B4SUTP8R4 (#plotlens-outreach) is hardcoded because n8n 2.9.4 blocks $env access in node expressions (N8N_BLOCK_ENV_ACCESS_IN_NODE default). To change the channel, update the Slack Notify node's channelId.value directly. T29 adds POST /webhook/slack-interactive for Slack Block Kit button clicks (Approve/Reject). SYSTEMD REQUIREMENT: /etc/systemd/system/n8n.service.d/slack-env.conf must set SLACK_SIGNING_SECRET=<from Infisical SLACK_SIGNING_SECRET> and N8N_BLOCK_ENV_ACCESS_IN_NODE=false for signature verification to work.","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":2}]}},"id":"cc000001-0001-0001-0001-000000000001","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[240,300]},{"parameters":{"operation":"executeQuery","query":"SELECT oi.id AS outreach_item_id, oi.source_url, oi.source_platform,\n       d.id AS preview_draft_id, d.draft_text AS preview_text, d.risk_score AS preview_risk_score\nFROM outreach_items oi\nJOIN drafts d ON d.outreach_item_id = oi.id AND d.variant = 'helpful_only'\nWHERE oi.status='drafted'\n  AND d.status='needs_human_review'\n  AND oi.id NOT IN (\n    SELECT (notes::jsonb->>'outreach_item_id')::bigint\n    FROM outcomes\n    WHERE notes::jsonb ? 'outreach_item_id' AND notes::jsonb->>'kind' = 'notified'\n  )\nORDER BY oi.discovered_at\nLIMIT 5;","options":{}},"id":"cc000002-0002-0002-0002-000000000002","name":"Find Items","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[460,300],"credentials":{"postgres":{"id":"fOZmso5kyXr6Agdn","name":"outreach-db-n8n"}}},{"parameters":{"batchSize":1,"options":{}},"id":"cc000004-0004-0004-0004-000000000004","name":"Split In Batches","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[680,300]},{"parameters":{"jsCode":"// PLATFORM MAP — keep in sync with the copy in 'Build Slack Approval'.\n// When adding a new Postiz integration that should appear in Slack quick-approve:\n//   1) Add a row here AND in 'Build Slack Approval'.\n//   2) Re-import + reactivate outreach-review-notify on LXC 112.\n//   3) See docs/runbooks/postiz-channel-onboarding.md 'Slack quick-approve registration'.\nconst PLATFORM_MAP = [\n  { key: 'bluesky_brand',    platform: 'bluesky',  integration: 'cmpefsrxp0005kbb1ttpbkjnf', label: 'Bluesky (PlotLens)' },\n  { key: 'mastodon',         platform: 'mastodon', integration: 'cmpegkub20001j0auhv9epe72', label: 'Mastodon (@plotlens)' },\n  { key: 'bluesky_personal', platform: 'bluesky',  integration: 'cmpefkzmt0001kbb1plpudyo3', label: 'Bluesky (personal)' },\n];\n\nconst item = $input.item.json;\nconst previewText = String(item.preview_text || '');\nconst sourceUrl = String(item.source_url || '');\nconst platform = String(item.source_platform || '');\nconst risk = item.preview_risk_score;\nconst oid = item.outreach_item_id;\n\nconst headerText = `:memo: *Outreach item #${oid}* — \\`${platform}\\` — risk *${risk}/100*\\n><${sourceUrl}|source>\\n>${previewText.replace(/\\n/g, '\\n>')}`;\n\nconst formUrl = `https://n8n.corbello.io/webhook/render-approval-form?outreach_item_id=${oid}`;\n\nconst lowRisk = risk < 20;\n\n// Build the approve-per-platform cluster (only when low-risk; high-risk still routes through the form).\nconst approveButtons = lowRisk\n  ? PLATFORM_MAP.map(p => ({\n      type: 'button',\n      text: { type: 'plain_text', text: `Approve → ${p.label}` },\n      action_id: `approve_${p.key}_${oid}`,\n      style: 'primary',\n    }))\n  : [];\n\nconst baseButtons = [\n  { type: 'button', text: { type: 'plain_text', text: 'Reject' }, action_id: `reject_${oid}`, style: 'danger' },\n  { type: 'button', text: { type: 'plain_text', text: 'Open full form' }, url: formUrl, action_id: `open_form_${oid}` },\n];\n\nconst buttons = [...approveButtons, ...baseButtons];\n\nconst blocks = [\n  { type: 'section', text: { type: 'mrkdwn', text: headerText } },\n  { type: 'actions', elements: buttons },\n];\n\nreturn [{\n  json: {\n    ...item,\n    slack_blocks: blocks,\n    slack_text_fallback: `Outreach item #${oid} — risk ${risk}/100 — needs review`,\n    is_low_risk: lowRisk,\n  }\n}];\n"},"id":"cc000010-0010-0010-0010-000000000010","name":"Build Slack Blocks","type":"n8n-nodes-base.code","typeVersion":2,"position":[900,300]},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"C0B4SUTP8R4","mode":"id"},"messageType":"block","blocksUi":"={{ { blocks: $json.slack_blocks } }}","text":"={{ $json.slack_text_fallback }}","otherOptions":{}},"id":"cc000006-0006-0006-0006-000000000006","name":"Slack Notify","type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[1120,300],"credentials":{"slackApi":{"id":"o9pysvcgZQFhoOLP","name":"slack-bot-token"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO outcomes (publish_job_id, notes)\nVALUES (NULL, jsonb_build_object('outreach_item_id', $1::bigint, 'kind', 'notified')::text);","options":{"queryReplacement":"={{ [$('Split In Batches').item.json.outreach_item_id] }}"}},"id":"cc000008-0008-0008-0008-000000000008","name":"Log Notification","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1340,300],"credentials":{"postgres":{"id":"fOZmso5kyXr6Agdn","name":"outreach-db-n8n"}}},{"parameters":{"httpMethod":"GET","path":"render-approval-form","authentication":"basicAuth","responseMode":"responseNode","options":{}},"id":"t27w0001-0001-0001-0001-000000000001","name":"Webhook GET Render Form","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,560],"webhookId":"render-approval-form","credentials":{"httpBasicAuth":{"id":"wp5foUcxmwrXaaDk","name":"n8n-form-auth"}}},{"parameters":{"jsCode":"const rawId = $('Webhook GET Render Form').item.json.query?.outreach_item_id;\nconst parsed = parseInt(rawId, 10);\nif (isNaN(parsed) || parsed <= 0) {\n  return [{json: {invalid: true, html: '<h1>Missing or invalid outreach_item_id parameter</h1>'}}];\n}\nreturn [{json: {invalid: false, outreach_item_id: parsed}}];"},"id":"t27w0005-0005-0005-0005-000000000005","name":"Validate Query Param","type":"n8n-nodes-base.code","typeVersion":2,"position":[460,560]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"vq-cond-001","leftValue":"={{ $json.invalid }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"t27w0006-0006-0006-0006-000000000006","name":"Valid ID?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[680,560]},{"parameters":{"operation":"executeQuery","query":"WITH drafts_cte AS (\n  SELECT d.id, d.variant, d.draft_text, d.risk_score, d.suggested_destination, d.suggested_post_type,\n         oi.source_url, oi.source_platform, oi.id AS outreach_item_id\n  FROM drafts d\n  JOIN outreach_items oi ON oi.id = d.outreach_item_id\n  WHERE oi.id = $1::bigint\n    AND d.status = 'needs_human_review'\n  ORDER BY d.variant\n)\nSELECT * FROM drafts_cte\nUNION ALL\nSELECT NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL\nWHERE NOT EXISTS (SELECT 1 FROM drafts_cte);","options":{"queryReplacement":"={{ [$('Validate Query Param').item.json.outreach_item_id] }}"}},"id":"t27w0002-0002-0002-0002-000000000002","name":"Postgres Load Drafts","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[900,560],"credentials":{"postgres":{"id":"fOZmso5kyXr6Agdn","name":"outreach-db-n8n"}}},{"parameters":{"method":"GET","url":"={{ $env.POSTIZ_API_BASE_URL }}/integrations","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","options":{}},"id":"t27w0007-0007-0007-0007-000000000007","name":"Fetch Postiz Integrations","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1010,560],"credentials":{"httpHeaderAuth":{"id":"pZtZApIkEy00000A","name":"postiz-api-key"}}},{"parameters":{"mode":"runOnceForAllItems","jsCode":"const rows = $('Postgres Load Drafts').all().map(i => i.json).filter(r => r.id !== null && r.id !== undefined);\nif (!rows || rows.length === 0) {\n  return [{json: {html: '<h1>No pending drafts for this outreach_item</h1>'}}];\n}\nconst item = rows[0];  // source_url + platform are the same for all three\n// Dedupe by id: Fetch Postiz Integrations runs once per input draft from\n// Postgres Load Drafts (HTTP nodes execute once per input item), so for N\n// drafts and M integrations we see N*M items here. Without dedupe the\n// <select name=\"approved_destination\"> ends up with N*M options.\nconst _rawIntegrations = $('Fetch Postiz Integrations').all().map(i => i.json).flat();\nconst _seen = new Set();\nconst integrations = [];\nfor (const intg of _rawIntegrations) {\n  if (!intg || _seen.has(intg.id)) continue;\n  _seen.add(intg.id);\n  integrations.push(intg);\n}\nif (integrations.length === 0) {\n  return [{json: {html: '<h1>No Postiz integrations configured — cannot render form</h1>'}}];\n}\nconst escapeHtml = (s) => String(s ?? '').replace(/[&<>\"']/g, c => ({'&':'&amp;','<':'&lt;','>':'&gt;','\"':'&quot;',\"'\":'&#39;'}[c]));\nconst safeUrl = (s) => /^https?:\\/\\//i.test(s ?? '') ? s : '#blocked-unsafe-url';\nconst variantBlock = (r) => `\n  <div style=\"margin:12px 0;padding:12px;border:1px solid #ddd\">\n    <h3>${escapeHtml(r.variant)} <small style=\"color:#888\">risk ${r.risk_score}/100</small></h3>\n    <textarea name=\"text_${escapeHtml(r.variant)}\" rows=\"6\" cols=\"80\">${escapeHtml(r.draft_text)}</textarea>\n    <input type=\"hidden\" name=\"original_text_${escapeHtml(r.variant)}\" value=\"${escapeHtml(r.draft_text)}\">\n    <input type=\"hidden\" name=\"draft_id_${escapeHtml(r.variant)}\" value=\"${r.id}\">\n  </div>`;\nconst html = `<!doctype html>\n<html><head><title>Approve outreach item #${item.outreach_item_id}</title></head>\n<body style=\"font-family:system-ui;max-width:900px;margin:20px auto\">\n  <h1>Outreach item #${item.outreach_item_id}</h1>\n  <p><strong>Source:</strong> <a href=\"${escapeHtml(safeUrl(item.source_url))}\">${escapeHtml(item.source_url)}</a></p>\n  <p><strong>Platform:</strong> ${escapeHtml(item.source_platform)}</p>\n  <form method=\"POST\" action=\"/webhook/submit-approval\">\n    <input type=\"hidden\" name=\"outreach_item_id\" value=\"${item.outreach_item_id}\">\n    <h2>Variants (edit any, then choose which to approve)</h2>\n    ${rows.map(variantBlock).join('')}\n    <label>Chosen variant: <select name=\"chosen_variant\">\n      ${rows.map(r => `<option value=\"${escapeHtml(r.variant)}\">${escapeHtml(r.variant)}</option>`).join('')}\n    </select></label><br>\n    <label>Channel:\n      <select name=\"approved_destination\" required onchange=\"document.getElementsByName('approved_platform')[0].value = this.options[this.selectedIndex].dataset.platform;\">\n        ${integrations.map(intg => `<option value=\"${escapeHtml(intg.id)}\" data-platform=\"${escapeHtml(intg.identifier)}\">${escapeHtml(intg.name)} (${escapeHtml(intg.identifier)})</option>`).join('')}\n      </select>\n    </label><br>\n    <input type=\"hidden\" name=\"approved_platform\" value=\"${escapeHtml(integrations[0]?.identifier || '')}\">\n    <label>Approved post type: <input name=\"approved_post_type\" value=\"${escapeHtml(item.suggested_post_type || 'post')}\"></label><br>\n    <label>Notes: <input name=\"notes\" size=\"60\"></label><br><br>\n    <button name=\"decision\" value=\"approved\">Approve chosen variant</button>\n    <button name=\"decision\" value=\"rejected\">Reject all</button>\n    <button name=\"decision\" value=\"manual_only\">Approve as manual-only</button>\n    <button name=\"decision\" value=\"save_for_later\">Save for later</button>\n  </form>\n</body></html>`;\nreturn [{json: {html}}];"},"id":"t27w0003-0003-0003-0003-000000000003","name":"Code Render HTML","type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,560]},{"parameters":{"respondWith":"text","responseBody":"={{ $json.html }}","options":{"responseHeaders":{"entries":[{"name":"Content-Type","value":"text/html; charset=utf-8"}]}}},"id":"t27w0004-0004-0004-0004-000000000004","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1340,560]},{"parameters":{"httpMethod":"POST","path":"submit-approval","authentication":"basicAuth","responseMode":"responseNode","options":{}},"id":"t28w0001-0001-0001-0001-000000000001","name":"Webhook POST Submit Approval","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,820],"webhookId":"submit-approval","credentials":{"httpBasicAuth":{"id":"wp5foUcxmwrXaaDk","name":"n8n-form-auth"}}},{"parameters":{"jsCode":"function sha256(str) {\n  const bytes = [];\n  for (let i = 0; i < str.length; i++) {\n    let c = str.charCodeAt(i);\n    if (c < 0x80) { bytes.push(c); }\n    else if (c < 0x800) { bytes.push(0xC0|(c>>6), 0x80|(c&0x3F)); }\n    else if (c < 0xD800 || c >= 0xE000) { bytes.push(0xE0|(c>>12), 0x80|((c>>6)&0x3F), 0x80|(c&0x3F)); }\n    else { i++; c=0x10000+(((c&0x3FF)<<10)|(str.charCodeAt(i)&0x3FF)); bytes.push(0xF0|(c>>18),0x80|((c>>12)&0x3F),0x80|((c>>6)&0x3F),0x80|(c&0x3F)); }\n  }\n  const K=[0x428a2f98,0x71374491,0xb5c0fbcf,0xe9b5dba5,0x3956c25b,0x59f111f1,0x923f82a4,0xab1c5ed5,0xd807aa98,0x12835b01,0x243185be,0x550c7dc3,0x72be5d74,0x80deb1fe,0x9bdc06a7,0xc19bf174,0xe49b69c1,0xefbe4786,0x0fc19dc6,0x240ca1cc,0x2de92c6f,0x4a7484aa,0x5cb0a9dc,0x76f988da,0x983e5152,0xa831c66d,0xb00327c8,0xbf597fc7,0xc6e00bf3,0xd5a79147,0x06ca6351,0x14292967,0x27b70a85,0x2e1b2138,0x4d2c6dfc,0x53380d13,0x650a7354,0x766a0abb,0x81c2c92e,0x92722c85,0xa2bfe8a1,0xa81a664b,0xc24b8b70,0xc76c51a3,0xd192e819,0xd6990624,0xf40e3585,0x106aa070,0x19a4c116,0x1e376c08,0x2748774c,0x34b0bcb5,0x391c0cb3,0x4ed8aa4a,0x5b9cca4f,0x682e6ff3,0x748f82ee,0x78a5636f,0x84c87814,0x8cc70208,0x90befffa,0xa4506ceb,0xbef9a3f7,0xc67178f2];\n  let h0=0x6a09e667,h1=0xbb67ae85,h2=0x3c6ef372,h3=0xa54ff53a,h4=0x510e527f,h5=0x9b05688c,h6=0x1f83d9ab,h7=0x5be0cd19;\n  const msgLen=bytes.length; bytes.push(0x80);\n  while((bytes.length%64)!==56) bytes.push(0);\n  const bitLen=msgLen*8; bytes.push(0,0,0,0,(bitLen>>>24)&0xFF,(bitLen>>>16)&0xFF,(bitLen>>>8)&0xFF,bitLen&0xFF);\n  function rotr(x,n){return(x>>>n)|(x<<(32-n));}\n  function ch(x,y,z){return(x&y)^(~x&z);}\n  function maj(x,y,z){return(x&y)^(x&z)^(y&z);}\n  function sig0(x){return rotr(x,2)^rotr(x,13)^rotr(x,22);}\n  function sig1(x){return rotr(x,6)^rotr(x,11)^rotr(x,25);}\n  function gam0(x){return rotr(x,7)^rotr(x,18)^(x>>>3);}\n  function gam1(x){return rotr(x,17)^rotr(x,19)^(x>>>10);}\n  for(let offset=0;offset<bytes.length;offset+=64){\n    const w=new Array(64);\n    for(let i=0;i<16;i++) w[i]=((bytes[offset+i*4]<<24)|(bytes[offset+i*4+1]<<16)|(bytes[offset+i*4+2]<<8)|bytes[offset+i*4+3])>>>0;\n    for(let i=16;i<64;i++) w[i]=(gam1(w[i-2])+w[i-7]+gam0(w[i-15])+w[i-16])>>>0;\n    let a=h0,b=h1,c=h2,d=h3,e=h4,f=h5,g=h6,h=h7;\n    for(let i=0;i<64;i++){const t1=(h+sig1(e)+ch(e,f,g)+K[i]+w[i])>>>0;const t2=(sig0(a)+maj(a,b,c))>>>0;h=g;g=f;f=e;e=(d+t1)>>>0;d=c;c=b;b=a;a=(t1+t2)>>>0;}\n    h0=(h0+a)>>>0;h1=(h1+b)>>>0;h2=(h2+c)>>>0;h3=(h3+d)>>>0;h4=(h4+e)>>>0;h5=(h5+f)>>>0;h6=(h6+g)>>>0;h7=(h7+h)>>>0;\n  }\n  function hex(n){return('00000000'+(n>>>0).toString(16)).slice(-8);}\n  return hex(h0)+hex(h1)+hex(h2)+hex(h3)+hex(h4)+hex(h5)+hex(h6)+hex(h7);\n}\n\nconst body = $input.item.json.body;\n\nif (!body) {\n  throw new Error('No form body received — expected application/x-www-form-urlencoded POST');\n}\n\nconst VALID_DECISIONS = ['approved', 'rejected', 'manual_only', 'save_for_later'];\nconst decision = body.decision;\nif (!decision || !VALID_DECISIONS.includes(decision)) {\n  throw new Error('Invalid decision \"' + decision + '\". Must be one of: ' + VALID_DECISIONS.join(', '));\n}\n\nconst chosen = body.chosen_variant || 'helpful_only';\n\nconst VALID_VARIANTS = ['helpful_only', 'founder_context', 'soft_product'];\nif (!VALID_VARIANTS.includes(chosen)) throw new Error('Invalid chosen_variant: ' + chosen);\n\nconst VALID_PLATFORMS = ['bluesky', 'mastodon', 'reddit', 'x', 'linkedin'];\nconst platform = body.approved_platform;\nif (!platform || !VALID_PLATFORMS.includes(platform)) {\n  throw new Error('Invalid or missing approved_platform: \"' + platform + '\" (must be one of: ' + VALID_PLATFORMS.join(', ') + ')');\n}\n\nconst editedText = body['text_' + chosen];\nconst originalText = body['original_text_' + chosen];\nconst chosenDraftId = parseInt(body['draft_id_' + chosen], 10);\n\nif (isNaN(chosenDraftId) || chosenDraftId <= 0) {\n  throw new Error('Invalid or missing draft_id_' + chosen + ': \"' + body['draft_id_' + chosen] + '\"');\n}\n\nif (editedText === undefined || editedText === null) {\n  throw new Error('Missing text_' + chosen + ' field in form submission');\n}\n\nif (!editedText.trim()) {\n  throw new Error('Approved text cannot be empty');\n}\n\nconst outreachItemId = parseInt(body.outreach_item_id, 10);\nif (isNaN(outreachItemId) || outreachItemId <= 0) {\n  throw new Error('Invalid or missing outreach_item_id: \"' + body.outreach_item_id + '\"');\n}\n\nconst wasEdited = editedText !== originalText;\nconst finalText = editedText;\nconst destination = body.approved_destination || '';\nconst postType = body.approved_post_type || '';\nconst hash = sha256(finalText + destination + postType + platform);\n\nreturn [{json: {\n  draft_id: chosenDraftId,\n  outreach_item_id: outreachItemId,\n  approved_by: 'jeremy',\n  decision: decision,\n  edited_text: wasEdited ? finalText : null,\n  approved_destination: destination,\n  approved_post_type: postType,\n  approved_platform: platform,\n  approved_content_hash: hash,\n  approval_notes: body.notes || null,\n}}];"},"id":"t28w0002-0002-0002-0002-000000000002","name":"Build Approval","type":"n8n-nodes-base.code","typeVersion":2,"position":[460,820]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"sfl-cond-001","leftValue":"={{ $('Build Approval').item.json.decision }}","rightValue":"save_for_later","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"t28w0006-0006-0006-0006-000000000006","name":"Save For Later?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[680,820]},{"parameters":{"operation":"executeQuery","query":"WITH ins AS (\n  INSERT INTO approvals (draft_id, approved_by, decision, edited_text, approved_destination, approved_post_type, approved_content_hash, approval_notes, approved_platform)\n  VALUES ($1, $2, $3, $4, $5, $6, $7, $8, $10)\n  RETURNING id, draft_id, decision, approved_destination, approved_content_hash, approved_platform\n),\nupd1 AS (\n  UPDATE drafts SET status = CASE\n    WHEN $3::text = 'approved' THEN 'approved'\n    WHEN $3::text = 'manual_only' THEN 'approved'\n    WHEN $3::text = 'rejected' THEN 'rejected'\n    ELSE status\n  END\n  WHERE id = (SELECT draft_id FROM ins)\n  RETURNING 1\n),\nupd2 AS (\n  UPDATE drafts SET status='rejected'\n  WHERE outreach_item_id = $9::bigint\n    AND id <> (SELECT draft_id FROM ins)\n    AND status = 'needs_human_review'\n    AND $3::text IN ('approved','manual_only','rejected')\n  RETURNING 1\n),\nupd3 AS (\n  UPDATE outreach_items SET status='reviewed'\n  WHERE id = $9::bigint\n    AND $3::text IN ('approved','manual_only','rejected')\n  RETURNING 1\n),\npj AS (\n  INSERT INTO publish_jobs (approval_id, destination_platform, destination_account, publish_mode, payload_hash, scheduled_for, status)\n  SELECT\n    ins.id,\n    ins.approved_platform,\n    ins.approved_destination,\n    CASE\n      WHEN $3::text = 'manual_only' THEN 'manual_required'\n      WHEN $3::text = 'approved' THEN 'postiz_scheduled'\n      ELSE NULL\n    END,\n    ins.approved_content_hash,\n    NULL,\n    'ready'\n  FROM ins\n  WHERE $3::text IN ('approved', 'manual_only')\n  RETURNING id\n)\nSELECT id FROM ins;","options":{"queryReplacement":"={{ [\n  $('Build Approval').item.json.draft_id,\n  $('Build Approval').item.json.approved_by,\n  $('Build Approval').item.json.decision,\n  $('Build Approval').item.json.edited_text,\n  $('Build Approval').item.json.approved_destination,\n  $('Build Approval').item.json.approved_post_type,\n  $('Build Approval').item.json.approved_content_hash,\n  $('Build Approval').item.json.approval_notes,\n  $('Build Approval').item.json.outreach_item_id,\n  $('Build Approval').item.json.approved_platform\n] }}"}},"id":"t28w0003-0003-0003-0003-000000000003","name":"Write Approval (CTE)","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[900,900],"credentials":{"postgres":{"id":"fOZmso5kyXr6Agdn","name":"outreach-db-n8n"}}},{"parameters":{"jsCode":"const escapeHtml = (s) => String(s ?? '').replace(/[&<>\"']/g, c => ({'&':'&amp;','<':'&lt;','>':'&gt;','\"':'&quot;',\"'\":'&#39;'}[c]));\nconst decision = $('Build Approval').item.json.decision;\nconst oi = $('Build Approval').item.json.outreach_item_id;\nconst approvalId = $input.item.json.id;\nconst html = `<!doctype html><html><body style=\"font-family:system-ui;max-width:600px;margin:20px auto\">\n<h1>Approval recorded</h1>\n<p>Decision: <strong>${escapeHtml(decision)}</strong></p>\n<p>Approval ID: ${approvalId}</p>\n<p><a href=\"/webhook/render-approval-form?outreach_item_id=${oi}\">Back to form</a></p>\n</body></html>`;\nreturn [{json: {html}}];"},"id":"t28w0007-0007-0007-0007-000000000007","name":"Build Confirmation HTML","type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,900]},{"parameters":{"respondWith":"text","responseBody":"={{ $json.html }}","options":{"responseHeaders":{"entries":[{"name":"Content-Type","value":"text/html; charset=utf-8"}]}}},"id":"t28w0005-0005-0005-0005-000000000005","name":"Respond Confirmation","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1340,900]},{"parameters":{"respondWith":"text","responseBody":"={{ `<!doctype html><html><body style=\"font-family:system-ui;max-width:600px;margin:20px auto\"><h1>Saved for later</h1><p>Outreach item #${$('Build Approval').item.json.outreach_item_id} kept in review queue.</p><p><a href=\"/webhook/render-approval-form?outreach_item_id=${$('Build Approval').item.json.outreach_item_id}\">Back to form</a></p></body></html>` }}","options":{"responseHeaders":{"entries":[{"name":"Content-Type","value":"text/html; charset=utf-8"}]}}},"id":"t28w0008-0008-0008-0008-000000000008","name":"Respond Confirmation (Save)","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[900,740]},{"parameters":{"httpMethod":"POST","path":"slack-interactive","responseMode":"responseNode","options":{"rawBody":true}},"id":"t29w0001-0001-0001-0001-000000000001","name":"Webhook Slack Interactive","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,1100],"webhookId":"slack-interactive"},{"parameters":{"jsCode":"function sha256(str) {\n  const bytes = [];\n  for (let i = 0; i < str.length; i++) {\n    let c = str.charCodeAt(i);\n    if (c < 0x80) { bytes.push(c); }\n    else if (c < 0x800) { bytes.push(0xC0|(c>>6), 0x80|(c&0x3F)); }\n    else if (c < 0xD800 || c >= 0xE000) { bytes.push(0xE0|(c>>12), 0x80|((c>>6)&0x3F), 0x80|(c&0x3F)); }\n    else { i++; c=0x10000+(((c&0x3FF)<<10)|(str.charCodeAt(i)&0x3FF)); bytes.push(0xF0|(c>>18),0x80|((c>>12)&0x3F),0x80|((c>>6)&0x3F),0x80|(c&0x3F)); }\n  }\n  const K=[0x428a2f98,0x71374491,0xb5c0fbcf,0xe9b5dba5,0x3956c25b,0x59f111f1,0x923f82a4,0xab1c5ed5,0xd807aa98,0x12835b01,0x243185be,0x550c7dc3,0x72be5d74,0x80deb1fe,0x9bdc06a7,0xc19bf174,0xe49b69c1,0xefbe4786,0x0fc19dc6,0x240ca1cc,0x2de92c6f,0x4a7484aa,0x5cb0a9dc,0x76f988da,0x983e5152,0xa831c66d,0xb00327c8,0xbf597fc7,0xc6e00bf3,0xd5a79147,0x06ca6351,0x14292967,0x27b70a85,0x2e1b2138,0x4d2c6dfc,0x53380d13,0x650a7354,0x766a0abb,0x81c2c92e,0x92722c85,0xa2bfe8a1,0xa81a664b,0xc24b8b70,0xc76c51a3,0xd192e819,0xd6990624,0xf40e3585,0x106aa070,0x19a4c116,0x1e376c08,0x2748774c,0x34b0bcb5,0x391c0cb3,0x4ed8aa4a,0x5b9cca4f,0x682e6ff3,0x748f82ee,0x78a5636f,0x84c87814,0x8cc70208,0x90befffa,0xa4506ceb,0xbef9a3f7,0xc67178f2];\n  let h0=0x6a09e667,h1=0xbb67ae85,h2=0x3c6ef372,h3=0xa54ff53a,h4=0x510e527f,h5=0x9b05688c,h6=0x1f83d9ab,h7=0x5be0cd19;\n  const msgLen=bytes.length; bytes.push(0x80);\n  while((bytes.length%64)!==56) bytes.push(0);\n  const bitLen=msgLen*8; bytes.push(0,0,0,0,(bitLen>>>24)&0xFF,(bitLen>>>16)&0xFF,(bitLen>>>8)&0xFF,bitLen&0xFF);\n  function rotr(x,n){return(x>>>n)|(x<<(32-n));}\n  function ch(x,y,z){return(x&y)^(~x&z);}\n  function maj(x,y,z){return(x&y)^(x&z)^(y&z);}\n  function sig0(x){return rotr(x,2)^rotr(x,13)^rotr(x,22);}\n  function sig1(x){return rotr(x,6)^rotr(x,11)^rotr(x,25);}\n  function gam0(x){return rotr(x,7)^rotr(x,18)^(x>>>3);}\n  function gam1(x){return rotr(x,17)^rotr(x,19)^(x>>>10);}\n  for(let offset=0;offset<bytes.length;offset+=64){\n    const w=new Array(64);\n    for(let i=0;i<16;i++) w[i]=((bytes[offset+i*4]<<24)|(bytes[offset+i*4+1]<<16)|(bytes[offset+i*4+2]<<8)|bytes[offset+i*4+3])>>>0;\n    for(let i=16;i<64;i++) w[i]=(gam1(w[i-2])+w[i-7]+gam0(w[i-15])+w[i-16])>>>0;\n    let a=h0,b=h1,c=h2,d=h3,e=h4,f=h5,g=h6,h=h7;\n    for(let i=0;i<64;i++){const t1=(h+sig1(e)+ch(e,f,g)+K[i]+w[i])>>>0;const t2=(sig0(a)+maj(a,b,c))>>>0;h=g;g=f;f=e;e=(d+t1)>>>0;d=c;c=b;b=a;a=(t1+t2)>>>0;}\n    h0=(h0+a)>>>0;h1=(h1+b)>>>0;h2=(h2+c)>>>0;h3=(h3+d)>>>0;h4=(h4+e)>>>0;h5=(h5+f)>>>0;h6=(h6+g)>>>0;h7=(h7+h)>>>0;\n  }\n  function hex(n){return('00000000'+(n>>>0).toString(16)).slice(-8);}\n  return hex(h0)+hex(h1)+hex(h2)+hex(h3)+hex(h4)+hex(h5)+hex(h6)+hex(h7);\n}\nfunction hmacSha256(keyStr, msgStr) {\n  // Convert string to byte array\n  function strToBytes(s) {\n    const bytes = [];\n    for (let i = 0; i < s.length; i++) {\n      let c = s.charCodeAt(i);\n      if (c < 0x80) bytes.push(c);\n      else if (c < 0x800) bytes.push(0xC0|(c>>6), 0x80|(c&0x3F));\n      else bytes.push(0xE0|(c>>12), 0x80|((c>>6)&0x3F), 0x80|(c&0x3F));\n    }\n    return bytes;\n  }\n  // sha256 of raw bytes (not string)\n  function sha256Bytes(bytes) {\n    return sha256(String.fromCharCode.apply(null, bytes));\n  }\n  // For HMAC we need sha256 that accepts bytes, but our sha256() does UTF-8 encoding.\n  // To avoid double-encoding, pass bytes as latin-1 string (charCodes 0-255 only).\n  // Since HMAC key/msg processing is pure bytes, build a bytes-aware sha256:\n  function sha256Raw(byteArray) {\n    // Clone and process as if each byte is charCode\n    // We need to rebuild sha256 over raw bytes not a string\n    const bytes = byteArray.slice();\n    const K=[0x428a2f98,0x71374491,0xb5c0fbcf,0xe9b5dba5,0x3956c25b,0x59f111f1,0x923f82a4,0xab1c5ed5,0xd807aa98,0x12835b01,0x243185be,0x550c7dc3,0x72be5d74,0x80deb1fe,0x9bdc06a7,0xc19bf174,0xe49b69c1,0xefbe4786,0x0fc19dc6,0x240ca1cc,0x2de92c6f,0x4a7484aa,0x5cb0a9dc,0x76f988da,0x983e5152,0xa831c66d,0xb00327c8,0xbf597fc7,0xc6e00bf3,0xd5a79147,0x06ca6351,0x14292967,0x27b70a85,0x2e1b2138,0x4d2c6dfc,0x53380d13,0x650a7354,0x766a0abb,0x81c2c92e,0x92722c85,0xa2bfe8a1,0xa81a664b,0xc24b8b70,0xc76c51a3,0xd192e819,0xd6990624,0xf40e3585,0x106aa070,0x19a4c116,0x1e376c08,0x2748774c,0x34b0bcb5,0x391c0cb3,0x4ed8aa4a,0x5b9cca4f,0x682e6ff3,0x748f82ee,0x78a5636f,0x84c87814,0x8cc70208,0x90befffa,0xa4506ceb,0xbef9a3f7,0xc67178f2];\n    let h0=0x6a09e667,h1=0xbb67ae85,h2=0x3c6ef372,h3=0xa54ff53a,h4=0x510e527f,h5=0x9b05688c,h6=0x1f83d9ab,h7=0x5be0cd19;\n    const msgLen=bytes.length; bytes.push(0x80);\n    while((bytes.length%64)!==56) bytes.push(0);\n    const bitLen=msgLen*8; bytes.push(0,0,0,0,(bitLen>>>24)&0xFF,(bitLen>>>16)&0xFF,(bitLen>>>8)&0xFF,bitLen&0xFF);\n    function rotr(x,n){return(x>>>n)|(x<<(32-n));}\n    function ch(x,y,z){return(x&y)^(~x&z);}\n    function maj(x,y,z){return(x&y)^(x&z)^(y&z);}\n    function sig0(x){return rotr(x,2)^rotr(x,13)^rotr(x,22);}\n    function sig1(x){return rotr(x,6)^rotr(x,11)^rotr(x,25);}\n    function gam0(x){return rotr(x,7)^rotr(x,18)^(x>>>3);}\n    function gam1(x){return rotr(x,17)^rotr(x,19)^(x>>>10);}\n    for(let offset=0;offset<bytes.length;offset+=64){\n      const w=new Array(64);\n      for(let i=0;i<16;i++) w[i]=((bytes[offset+i*4]<<24)|(bytes[offset+i*4+1]<<16)|(bytes[offset+i*4+2]<<8)|bytes[offset+i*4+3])>>>0;\n      for(let i=16;i<64;i++) w[i]=(gam1(w[i-2])+w[i-7]+gam0(w[i-15])+w[i-16])>>>0;\n      let a=h0,b=h1,c=h2,d=h3,e=h4,f=h5,g=h6,h=h7;\n      for(let i=0;i<64;i++){const t1=(h+sig1(e)+ch(e,f,g)+K[i]+w[i])>>>0;const t2=(sig0(a)+maj(a,b,c))>>>0;h=g;g=f;f=e;e=(d+t1)>>>0;d=c;c=b;b=a;a=(t1+t2)>>>0;}\n      h0=(h0+a)>>>0;h1=(h1+b)>>>0;h2=(h2+c)>>>0;h3=(h3+d)>>>0;h4=(h4+e)>>>0;h5=(h5+f)>>>0;h6=(h6+g)>>>0;h7=(h7+h)>>>0;\n    }\n    function hex(n){return('00000000'+(n>>>0).toString(16)).slice(-8);}\n    const hexStr = hex(h0)+hex(h1)+hex(h2)+hex(h3)+hex(h4)+hex(h5)+hex(h6)+hex(h7);\n    // return as byte array\n    const result = [];\n    for (let i = 0; i < hexStr.length; i += 2) result.push(parseInt(hexStr.substr(i, 2), 16));\n    return result;\n  }\n  const BLOCK_SIZE = 64;\n  let keyBytes = strToBytes(keyStr);\n  if (keyBytes.length > BLOCK_SIZE) keyBytes = sha256Raw(keyBytes);\n  while (keyBytes.length < BLOCK_SIZE) keyBytes.push(0);\n  const ipad = keyBytes.map(b => b ^ 0x36);\n  const opad = keyBytes.map(b => b ^ 0x5C);\n  const msgBytes = strToBytes(msgStr);\n  const innerHash = sha256Raw([...ipad, ...msgBytes]);\n  const outerHash = sha256Raw([...opad, ...innerHash]);\n  return outerHash.map(b => ('00' + b.toString(16)).slice(-2)).join('');\n}\n\nconst slackSigSecret = $env.SLACK_SIGNING_SECRET;\nif (!slackSigSecret) throw new Error('SLACK_SIGNING_SECRET not in env');\n\nconst headers = $('Webhook Slack Interactive').item.json.headers || {};\nconst ts = headers['x-slack-request-timestamp'];\nconst tsNum = parseInt(ts, 10);\nif (!ts || isNaN(tsNum) || tsNum <= 0 || Math.abs((Date.now() / 1000) - tsNum) > 300) {\n  throw new Error('Slack request timestamp out of range (possible replay attack)');\n}\n\n// Read the raw bytes Slack signed. options.rawBody=true on the Webhook node\n// preserves the original request body under item.binary.data (base64).\n// See n8n-nodes-base/dist/nodes/Webhook/Webhook.node.js lines 220-238 for the binary attachment.\nconst upstreamItem = $('Webhook Slack Interactive').first();\nconst binaryWrapper = upstreamItem.binary && upstreamItem.binary.data;\nif (!binaryWrapper || !binaryWrapper.data) {\n  // Defensive: if rawBody isn't enabled on the webhook node, surface a clear diagnostic.\n  throw new Error('Raw body not available \\u2014 set options.rawBody=true on Webhook Slack Interactive');\n}\nconst rawBody = Buffer.from(binaryWrapper.data, 'base64').toString('utf8');\nconst bodyPayload = $('Webhook Slack Interactive').item.json.body && $('Webhook Slack Interactive').item.json.body.payload;\nif (!bodyPayload) throw new Error('No payload field in Slack request body');\n\nconst sigBase = `v0:${ts}:${rawBody}`;\nconst expected = 'v0=' + hmacSha256(slackSigSecret, sigBase);\nconst got = headers['x-slack-signature'];\nif (!got) throw new Error('Missing X-Slack-Signature header');\nfunction safeEqual(a, b) {\n  if (a.length !== b.length) return false;\n  let diff = 0;\n  for (let i = 0; i < a.length; i++) diff |= a.charCodeAt(i) ^ b.charCodeAt(i);\n  return diff === 0;\n}\nif (!safeEqual(got, expected)) throw new Error('Invalid Slack signature');\n\nconst payload = JSON.parse(bodyPayload);\nif (!payload.actions || !payload.actions[0]) throw new Error('No actions in Slack payload');\nconst action = payload.actions[0];\nconst actionId = action.action_id || '';\n\nconst slack_user_id = payload.user && payload.user.id;\nconst slack_user_name = (payload.user && (payload.user.username || payload.user.name)) || 'unknown';\nconst response_url = payload.response_url || null;\n\n// action_id formats:\n//   - 'reject_<oid>'                                 (reject button)\n//   - 'approve_<platform_key>_<oid>'                 (per-platform approve button; platform_key from PLATFORM_MAP)\n//   - 'open_form_<oid>'                              (Slack link-button telemetry, ignored)\n//   - anything else                                  (unknown — ignored, e.g. Slack auto-IDs like 'e/DS5')\n// Unknown / non-actionable verbs short-circuit to a 200 via the downstream IF\n// gate; only 'approve' and 'reject' continue into the DB write path.\nconst firstUnder = actionId.indexOf('_');\nconst lastUnder = actionId.lastIndexOf('_');\n\nfunction ignored() {\n  return [{json: {\n    verb: 'ignore',\n    platform_key: null,\n    outreach_item_id: null,\n    slack_user_id,\n    slack_user_name,\n    response_url,\n  }}];\n}\n\nif (firstUnder < 0) {\n  // No underscore at all (e.g. Slack auto-assigned 'e/DS5') — ignore.\n  return ignored();\n}\n\nconst rawVerb = actionId.substring(0, firstUnder);\n// Recognise the open_form_<oid> prefix as a single composite verb.\nconst verb = (actionId.startsWith('open_form_')) ? 'open_form' : rawVerb;\n\nif (!['approve', 'reject'].includes(verb)) {\n  // Includes 'open_form' and anything else not in the actionable set.\n  return ignored();\n}\n\nconst outreachItemIdStr = actionId.substring(lastUnder + 1);\nconst outreach_item_id = parseInt(outreachItemIdStr, 10);\nif (isNaN(outreach_item_id) || outreach_item_id <= 0) throw new Error('Invalid outreach_item_id: ' + outreachItemIdStr);\n\n// platform_key is the slice between the first and last underscores (only present on approve).\nlet platform_key = null;\nif (verb === 'approve') {\n  if (lastUnder === firstUnder) {\n    throw new Error('Approve action_id missing platform_key: ' + actionId);\n  }\n  platform_key = actionId.substring(firstUnder + 1, lastUnder);\n  if (!platform_key) throw new Error('Empty platform_key in action_id: ' + actionId);\n} else if (verb === 'reject') {\n  // Reject must be bi-segment (reject_<oid>) — extra segments are a bug.\n  if (lastUnder !== firstUnder) {\n    throw new Error('Reject action_id has unexpected platform_key segment: ' + actionId);\n  }\n}\n\nreturn [{json: {\n  verb,\n  platform_key,\n  outreach_item_id,\n  slack_user_id,\n  slack_user_name,\n  response_url,\n}}];\n"},"id":"t29w0002-0002-0002-0002-000000000002","name":"Verify Slack Signature","type":"n8n-nodes-base.code","typeVersion":2,"position":[460,1100]},{"parameters":{"operation":"executeQuery","query":"SELECT d.id AS draft_id, d.risk_score, d.draft_text, d.content_hash, d.suggested_destination, d.suggested_post_type\nFROM drafts d\nWHERE d.outreach_item_id = $1::bigint\n  AND d.variant = 'helpful_only'\n  AND d.status = 'needs_human_review';","options":{"queryReplacement":"={{ [$('Verify Slack Signature').item.json.outreach_item_id] }}"}},"id":"t29w0003-0003-0003-0003-000000000003","name":"Look Up Draft","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[680,1100],"credentials":{"postgres":{"id":"fOZmso5kyXr6Agdn","name":"outreach-db-n8n"}}},{"parameters":{"jsCode":"const draft = $input.item.json;\nconst sig = $('Verify Slack Signature').item.json;\n\nif (!draft || draft.draft_id === null || draft.draft_id === undefined) {\n  return [{json: {\n    _route: 'no_draft',\n    verb: sig.verb,\n    response_url: sig.response_url,\n    slack_user_name: sig.slack_user_name,\n    error_msg: 'No pending helpful_only draft found for item #' + sig.outreach_item_id,\n  }}];\n}\n\nconst verb = sig.verb;\nconst risk = Number(draft.risk_score);\nlet route;\nif (verb === 'reject') {\n  route = 'write';\n} else if (verb === 'approve' && risk < 20) {\n  route = 'write';\n} else if (verb === 'approve' && risk >= 20) {\n  route = 'risk_too_high';\n} else {\n  route = 'no_draft';\n}\n\nreturn [{json: {\n  _route: route,\n  verb,\n  draft_id: draft.draft_id,\n  risk_score: risk,\n  draft_text: draft.draft_text,\n  suggested_destination: draft.suggested_destination || '',\n  suggested_post_type: draft.suggested_post_type || '',\n  outreach_item_id: sig.outreach_item_id,\n  slack_user_id: sig.slack_user_id,\n  slack_user_name: sig.slack_user_name,\n  response_url: sig.response_url,\n}}];\n"},"id":"t29w0004-0004-0004-0004-000000000004","name":"Check Draft + Route","type":"n8n-nodes-base.code","typeVersion":2,"position":[900,1100]},{"parameters":{"mode":"rules","rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"t29-switch-write","leftValue":"={{ $json._route }}","rightValue":"write","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"write"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"t29-switch-risk","leftValue":"={{ $json._route }}","rightValue":"risk_too_high","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"risk_too_high"}]},"options":{"fallbackOutput":"extra"}},"id":"t29w0005-0005-0005-0005-000000000005","name":"Route Decision","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1120,1100]},{"parameters":{"jsCode":"function sha256(str) {\n  const bytes = [];\n  for (let i = 0; i < str.length; i++) {\n    let c = str.charCodeAt(i);\n    if (c < 0x80) { bytes.push(c); }\n    else if (c < 0x800) { bytes.push(0xC0|(c>>6), 0x80|(c&0x3F)); }\n    else if (c < 0xD800 || c >= 0xE000) { bytes.push(0xE0|(c>>12), 0x80|((c>>6)&0x3F), 0x80|(c&0x3F)); }\n    else { i++; c=0x10000+(((c&0x3FF)<<10)|(str.charCodeAt(i)&0x3FF)); bytes.push(0xF0|(c>>18),0x80|((c>>12)&0x3F),0x80|((c>>6)&0x3F),0x80|(c&0x3F)); }\n  }\n  const K=[0x428a2f98,0x71374491,0xb5c0fbcf,0xe9b5dba5,0x3956c25b,0x59f111f1,0x923f82a4,0xab1c5ed5,0xd807aa98,0x12835b01,0x243185be,0x550c7dc3,0x72be5d74,0x80deb1fe,0x9bdc06a7,0xc19bf174,0xe49b69c1,0xefbe4786,0x0fc19dc6,0x240ca1cc,0x2de92c6f,0x4a7484aa,0x5cb0a9dc,0x76f988da,0x983e5152,0xa831c66d,0xb00327c8,0xbf597fc7,0xc6e00bf3,0xd5a79147,0x06ca6351,0x14292967,0x27b70a85,0x2e1b2138,0x4d2c6dfc,0x53380d13,0x650a7354,0x766a0abb,0x81c2c92e,0x92722c85,0xa2bfe8a1,0xa81a664b,0xc24b8b70,0xc76c51a3,0xd192e819,0xd6990624,0xf40e3585,0x106aa070,0x19a4c116,0x1e376c08,0x2748774c,0x34b0bcb5,0x391c0cb3,0x4ed8aa4a,0x5b9cca4f,0x682e6ff3,0x748f82ee,0x78a5636f,0x84c87814,0x8cc70208,0x90befffa,0xa4506ceb,0xbef9a3f7,0xc67178f2];\n  let h0=0x6a09e667,h1=0xbb67ae85,h2=0x3c6ef372,h3=0xa54ff53a,h4=0x510e527f,h5=0x9b05688c,h6=0x1f83d9ab,h7=0x5be0cd19;\n  const msgLen=bytes.length; bytes.push(0x80);\n  while((bytes.length%64)!==56) bytes.push(0);\n  const bitLen=msgLen*8; bytes.push(0,0,0,0,(bitLen>>>24)&0xFF,(bitLen>>>16)&0xFF,(bitLen>>>8)&0xFF,bitLen&0xFF);\n  function rotr(x,n){return(x>>>n)|(x<<(32-n));}\n  function ch(x,y,z){return(x&y)^(~x&z);}\n  function maj(x,y,z){return(x&y)^(x&z)^(y&z);}\n  function sig0(x){return rotr(x,2)^rotr(x,13)^rotr(x,22);}\n  function sig1(x){return rotr(x,6)^rotr(x,11)^rotr(x,25);}\n  function gam0(x){return rotr(x,7)^rotr(x,18)^(x>>>3);}\n  function gam1(x){return rotr(x,17)^rotr(x,19)^(x>>>10);}\n  for(let offset=0;offset<bytes.length;offset+=64){\n    const w=new Array(64);\n    for(let i=0;i<16;i++) w[i]=((bytes[offset+i*4]<<24)|(bytes[offset+i*4+1]<<16)|(bytes[offset+i*4+2]<<8)|bytes[offset+i*4+3])>>>0;\n    for(let i=16;i<64;i++) w[i]=(gam1(w[i-2])+w[i-7]+gam0(w[i-15])+w[i-16])>>>0;\n    let a=h0,b=h1,c=h2,d=h3,e=h4,f=h5,g=h6,h=h7;\n    for(let i=0;i<64;i++){const t1=(h+sig1(e)+ch(e,f,g)+K[i]+w[i])>>>0;const t2=(sig0(a)+maj(a,b,c))>>>0;h=g;g=f;f=e;e=(d+t1)>>>0;d=c;c=b;b=a;a=(t1+t2)>>>0;}\n    h0=(h0+a)>>>0;h1=(h1+b)>>>0;h2=(h2+c)>>>0;h3=(h3+d)>>>0;h4=(h4+e)>>>0;h5=(h5+f)>>>0;h6=(h6+g)>>>0;h7=(h7+h)>>>0;\n  }\n  function hex(n){return('00000000'+(n>>>0).toString(16)).slice(-8);}\n  return hex(h0)+hex(h1)+hex(h2)+hex(h3)+hex(h4)+hex(h5)+hex(h6)+hex(h7);\n}\n\n// PLATFORM MAP — keep in sync with the copy in 'Build Slack Blocks'.\n// When adding a new Postiz integration that should appear in Slack quick-approve:\n//   1) Add a row here AND in 'Build Slack Blocks'.\n//   2) Re-import + reactivate outreach-review-notify on LXC 112.\n//   3) See docs/runbooks/postiz-channel-onboarding.md 'Slack quick-approve registration'.\nconst PLATFORM_MAP = {\n  bluesky_brand:    { platform: 'bluesky',  integration: 'cmpefsrxp0005kbb1ttpbkjnf', label: 'Bluesky (PlotLens)' },\n  mastodon:         { platform: 'mastodon', integration: 'cmpegkub20001j0auhv9epe72', label: 'Mastodon (@plotlens)' },\n  bluesky_personal: { platform: 'bluesky',  integration: 'cmpefkzmt0001kbb1plpudyo3', label: 'Bluesky (personal)' },\n};\n\nconst d = $input.item.json;\nconst decision = (d.verb === 'approve') ? 'approved' : 'rejected';\nconst postType = d.suggested_post_type || '';\n\n// For approve: resolve the platform_key from Verify Slack Signature into a (platform, integration) pair.\n// For reject: leave destination/integration blank; the pj CTE is gated on length(approved_destination) > 0 anyway.\n// approvals.approved_platform is NOT NULL + CHECK constrained, so reject still needs a valid semantic platform — default to 'bluesky' if no picker hint.\nlet platform = '';\nlet destination = '';\nlet platformLabel = '';\nif (decision === 'approved') {\n  const key = d.platform_key;\n  const entry = PLATFORM_MAP[key];\n  if (!entry) {\n    throw new Error('Unknown platform_key from Slack: ' + key + ' (expected one of: ' + Object.keys(PLATFORM_MAP).join(', ') + ')');\n  }\n  platform = entry.platform;\n  destination = entry.integration;\n  platformLabel = entry.label;\n} else {\n  // Reject path — platform_key is null (reject button has no platform segment). Default to 'bluesky' to satisfy the CHECK constraint;\n  // the value is metadata-only since the pj CTE skips rejects.\n  platform = 'bluesky';\n}\n\n// Hash payload MUST match Workflow D Verify Hash: finalText + destination + postType + platform.\n// For reject, destination is '' and platform is the default; hash is not consumed (pj CTE skips), but we still compute it so the row shape stays consistent.\nconst hash = sha256(d.draft_text + destination + postType + platform);\n\nreturn [{json: {\n  draft_id: d.draft_id,\n  outreach_item_id: d.outreach_item_id,\n  approved_by: 'jeremy_slack_' + d.slack_user_name,\n  decision: decision,\n  edited_text: null,\n  approved_destination: destination,\n  approved_platform: platform,\n  approved_post_type: postType,\n  approved_content_hash: hash,\n  approval_notes: null,\n  response_url: d.response_url,\n  slack_user_name: d.slack_user_name,\n  platform_label: platformLabel,\n}}];\n"},"id":"t29w0006-0006-0006-0006-000000000006","name":"Build Slack Approval","type":"n8n-nodes-base.code","typeVersion":2,"position":[1340,1020]},{"parameters":{"operation":"executeQuery","query":"WITH ins AS (\n  INSERT INTO approvals (draft_id, approved_by, decision, edited_text, approved_destination, approved_post_type, approved_content_hash, approval_notes, approved_platform)\n  VALUES ($1, $2, $3, $4, $5, $6, $7, $8, $10)\n  RETURNING id, draft_id, decision, approved_destination, approved_content_hash, approved_platform\n),\nupd1 AS (\n  UPDATE drafts SET status = CASE\n    WHEN $3::text = 'approved' THEN 'approved'\n    WHEN $3::text = 'rejected' THEN 'rejected'\n    ELSE status\n  END\n  WHERE id = (SELECT draft_id FROM ins)\n  RETURNING 1\n),\nupd2 AS (\n  UPDATE drafts SET status='rejected'\n  WHERE outreach_item_id = $9::bigint\n    AND id <> (SELECT draft_id FROM ins)\n    AND status = 'needs_human_review'\n    AND $3::text IN ('approved','rejected')\n  RETURNING 1\n),\nupd3 AS (\n  UPDATE outreach_items SET status='reviewed'\n  WHERE id = $9::bigint\n    AND $3::text IN ('approved','rejected')\n  RETURNING 1\n),\npj AS (\n  INSERT INTO publish_jobs (approval_id, destination_platform, destination_account, publish_mode, payload_hash, scheduled_for, status)\n  SELECT ins.id, ins.approved_platform, ins.approved_destination, 'postiz_scheduled', ins.approved_content_hash, NULL, 'ready'\n  FROM ins\n  WHERE ins.decision = 'approved'\n    AND ins.approved_destination IS NOT NULL\n    AND length(ins.approved_destination) > 0\n  RETURNING id\n)\nSELECT ins.id AS approval_id, (SELECT id FROM pj LIMIT 1) AS publish_job_id FROM ins;","options":{"queryReplacement":"={{ [\n  $('Build Slack Approval').item.json.draft_id,\n  $('Build Slack Approval').item.json.approved_by,\n  $('Build Slack Approval').item.json.decision,\n  $('Build Slack Approval').item.json.edited_text,\n  $('Build Slack Approval').item.json.approved_destination,\n  $('Build Slack Approval').item.json.approved_post_type,\n  $('Build Slack Approval').item.json.approved_content_hash,\n  $('Build Slack Approval').item.json.approval_notes,\n  $('Build Slack Approval').item.json.outreach_item_id,\n  $('Build Slack Approval').item.json.approved_platform\n] }}"}},"id":"t29w0007-0007-0007-0007-000000000007","name":"Write Slack Approval (CTE)","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1560,1020],"credentials":{"postgres":{"id":"fOZmso5kyXr6Agdn","name":"outreach-db-n8n"}}},{"parameters":{"method":"POST","url":"={{ $('Build Slack Approval').item.json.response_url }}","sendBody":true,"bodyParameters":{"parameters":[]},"specifyBody":"json","jsonBody":"={{ JSON.stringify({ replace_original: true, text: $('Build Slack Approval').item.json.decision === 'approved' ? ($json.publish_job_id ? ':white_check_mark: Approved by ' + $('Build Slack Approval').item.json.slack_user_name + ' → ' + $('Build Slack Approval').item.json.platform_label + ' — dispatching to Postiz (job #' + $json.publish_job_id + ')' : ':warning: Approved by ' + $('Build Slack Approval').item.json.slack_user_name + ' as triage-only — no destination set, use the form to dispatch') : ':x: Rejected by ' + $('Build Slack Approval').item.json.slack_user_name }) }}","options":{"headers":{"parameters":[{"name":"Content-Type","value":"application/json"}]}}},"id":"t29w0008-0008-0008-0008-000000000008","name":"HTTP Confirm Approval","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1780,1020]},{"parameters":{"respondWith":"noData"},"id":"t29w0009-0009-0009-0009-000000000009","name":"Respond 200 (Write)","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[2000,1020]},{"parameters":{"method":"POST","url":"={{ $json.response_url }}","sendBody":true,"specifyBody":"json","jsonBody":"{\"replace_original\": true, \"text\": \":warning: Risk score too high for quick-approve — please use the approval form\"}","options":{"headers":{"parameters":[{"name":"Content-Type","value":"application/json"}]}}},"id":"t29w0010-0010-0010-0010-000000000010","name":"HTTP Risk Too High","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1340,1180]},{"parameters":{"respondWith":"noData"},"id":"t29w0011-0011-0011-0011-000000000011","name":"Respond 200 (Risk)","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1560,1180]},{"parameters":{"method":"POST","url":"={{ $json.response_url }}","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ replace_original: false, text: ':x: ' + ($json.error_msg || 'No pending draft found for this item') }) }}","options":{"headers":{"parameters":[{"name":"Content-Type","value":"application/json"}]}}},"id":"t29w0012-0012-0012-0012-000000000012","name":"HTTP No Draft","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1340,1260]},{"parameters":{"respondWith":"noData"},"id":"t29w0013-0013-0013-0013-000000000013","name":"Respond 200 (No Draft)","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1560,1260]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Guardrail: Slack v2 node will silently drop blocks when `blocksUi` resolves to a value-shape it does not recognise (e.g. a bare array). Slack auto-renders the text fallback as a single 'rich_text' block; real blocks are anything else. If the count of non-rich_text blocks in the response is below what we tried to send, the message rendered as fallback text only — fail loud so the operator catches it.\nconst sent = $('Build Slack Blocks').first().json.slack_blocks;\nconst expectedCount = Array.isArray(sent) ? sent.length : 0;\nconst responseBlocks = ($json.message && $json.message.blocks) || [];\nconst realCount = responseBlocks.filter(b => b.type !== 'rich_text').length;\nif (expectedCount > 0 && realCount < expectedCount) {\n  throw new Error(`Slack accepted message but dropped blocks: expected ${expectedCount}, saw ${realCount}. Likely cause: blocksUi expression resolves to a value-shape Slack v2 node silently discards.`);\n}\nreturn [{ json: $json }];\n"},"id":"cc000007-0007-0007-0007-000000000007","name":"Assert Slack Blocks Sent","type":"n8n-nodes-base.code","typeVersion":2,"position":[1230,300]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"t29-verb-actionable","leftValue":"={{ $json.verb }}","rightValue":"ignore","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"id":"t29w0014-0014-0014-0014-000000000014","name":"Actionable Verb?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[620,1100]}],"connections":{"Schedule Trigger":{"main":[[{"node":"Find Items","type":"main","index":0}]]},"Find Items":{"main":[[{"node":"Split In Batches","type":"main","index":0}]]},"Split In Batches":{"main":[[],[{"node":"Build Slack Blocks","type":"main","index":0}]]},"Build Slack Blocks":{"main":[[{"node":"Slack Notify","type":"main","index":0}]]},"Slack Notify":{"main":[[{"node":"Assert Slack Blocks Sent","type":"main","index":0}]]},"Webhook GET Render Form":{"main":[[{"node":"Validate Query Param","type":"main","index":0}]]},"Validate Query Param":{"main":[[{"node":"Valid ID?","type":"main","index":0}]]},"Valid ID?":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}],[{"node":"Postgres Load Drafts","type":"main","index":0}]]},"Postgres Load Drafts":{"main":[[{"node":"Fetch Postiz Integrations","type":"main","index":0}]]},"Fetch Postiz Integrations":{"main":[[{"node":"Code Render HTML","type":"main","index":0}]]},"Code Render HTML":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Webhook POST Submit Approval":{"main":[[{"node":"Build Approval","type":"main","index":0}]]},"Build Approval":{"main":[[{"node":"Save For Later?","type":"main","index":0}]]},"Save For Later?":{"main":[[{"node":"Respond Confirmation (Save)","type":"main","index":0}],[{"node":"Write Approval (CTE)","type":"main","index":0}]]},"Write Approval (CTE)":{"main":[[{"node":"Build Confirmation HTML","type":"main","index":0}]]},"Build Confirmation HTML":{"main":[[{"node":"Respond Confirmation","type":"main","index":0}]]},"Webhook Slack Interactive":{"main":[[{"node":"Verify Slack Signature","type":"main","index":0}]]},"Verify Slack Signature":{"main":[[{"node":"Actionable Verb?","type":"main","index":0}]]},"Look Up Draft":{"main":[[{"node":"Check Draft + Route","type":"main","index":0}]]},"Check Draft + Route":{"main":[[{"node":"Route Decision","type":"main","index":0}]]},"Route Decision":{"main":[[{"node":"Build Slack Approval","type":"main","index":0}],[{"node":"HTTP Risk Too High","type":"main","index":0}],[{"node":"HTTP No Draft","type":"main","index":0}]]},"Build Slack Approval":{"main":[[{"node":"Write Slack Approval (CTE)","type":"main","index":0}]]},"Write Slack Approval (CTE)":{"main":[[{"node":"HTTP Confirm Approval","type":"main","index":0}]]},"HTTP Confirm Approval":{"main":[[{"node":"Respond 200 (Write)","type":"main","index":0}]]},"HTTP Risk Too High":{"main":[[{"node":"Respond 200 (Risk)","type":"main","index":0}]]},"HTTP No Draft":{"main":[[{"node":"Respond 200 (No Draft)","type":"main","index":0}]]},"Assert Slack Blocks Sent":{"main":[[{"node":"Log Notification","type":"main","index":0}]]},"Actionable Verb?":{"main":[[{"node":"Look Up Draft","type":"main","index":0}],[{"node":"Respond 200 (No Draft)","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":null,"pinData":null,"versionId":"5ba7d937-0d18-4f88-96f4-03d1e4ba86ca","activeVersionId":"5ba7d937-0d18-4f88-96f4-03d1e4ba86ca","versionCounter":34,"triggerCount":4,"tags":[],"shared":[{"updatedAt":"2026-05-19T21:19:20.702Z","createdAt":"2026-05-19T21:19:20.702Z","role":"workflow:owner","workflowId":"rEv1eWoUtReAcH001","projectId":"JGmgbrvKk4KLD2WH","project":{"updatedAt":"2025-09-03T13:34:38.940Z","createdAt":"2025-09-03T13:25:25.897Z","id":"JGmgbrvKk4KLD2WH","name":"Jeremy Corbello <jacorbello@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"267d3922-bc61-4b1d-a99c-8d3098aa7a70"}}],"versionMetadata":{"name":null,"description":null}}]