apps/outreach-workflows/n8n/review.json
[{"updatedAt":"2026-05-19T22:35:17.000Z","createdAt":"2026-05-19T21:19:20.700Z","id":"rEv1eWoUtReAcH001","name":"outreach-review-notify","description":"Finds drafted outreach items needing human review and posts Slack notifications with quick-action buttons. T27 adds GET /webhook/render-approval-form (this commit); T29 wires the approve/reject buttons. TODO(phase2): migrate notification log from outcomes to a dedicated notifications table. NOTE: Slack channel C0B4SUTP8R4 (#plotlens-outreach) is hardcoded because n8n 2.9.4 blocks $env access in node expressions (N8N_BLOCK_ENV_ACCESS_IN_NODE default). To change the channel, update the Slack Notify node's channelId.value directly.","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":2}]}},"id":"cc000001-0001-0001-0001-000000000001","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[240,300]},{"parameters":{"operation":"executeQuery","query":"SELECT oi.id AS outreach_item_id, oi.source_url, oi.source_platform,\n       d.id AS preview_draft_id, d.draft_text AS preview_text, d.risk_score AS preview_risk_score\nFROM outreach_items oi\nJOIN drafts d ON d.outreach_item_id = oi.id AND d.variant = 'helpful_only'\nWHERE oi.status='drafted'\n  AND d.status='needs_human_review'\n  AND oi.id NOT IN (\n    SELECT (notes::jsonb->>'outreach_item_id')::bigint\n    FROM outcomes\n    WHERE notes::jsonb ? 'outreach_item_id' AND notes::jsonb->>'kind' = 'notified'\n  )\nORDER BY oi.discovered_at\nLIMIT 5;","options":{}},"id":"cc000002-0002-0002-0002-000000000002","name":"Find Items","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[460,300],"credentials":{"postgres":{"id":"fOZmso5kyXr6Agdn","name":"outreach-db-n8n"}}},{"parameters":{"batchSize":1,"options":{}},"id":"cc000004-0004-0004-0004-000000000004","name":"Split In Batches","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[680,300]},{"parameters":{"jsCode":"const item = $input.item.json;\nconst previewText = String(item.preview_text || '');\nconst sourceUrl = String(item.source_url || '');\nconst platform = String(item.source_platform || '');\nconst risk = item.preview_risk_score;\nconst oid = item.outreach_item_id;\n\nconst headerText = `:memo: *Outreach item #${oid}* — \\`${platform}\\` — risk *${risk}/100*\\n><${sourceUrl}|source>\\n>${previewText.replace(/\\n/g, '\\n>')}`;\n\nconst formUrl = `https://n8n.corbello.io/webhook/render-approval-form?outreach_item_id=${oid}`;\n\nconst baseButtons = [\n  {type: 'button', text: {type: 'plain_text', text: 'Reject'}, action_id: `reject_${oid}`, style: 'danger'},\n  {type: 'button', text: {type: 'plain_text', text: 'Open full form'}, url: formUrl},\n];\n\nconst approveButton = {type: 'button', text: {type: 'plain_text', text: 'Approve helpful-only as-drafted'}, action_id: `approve_${oid}`, style: 'primary'};\n\nconst lowRisk = risk < 20;\nconst buttons = lowRisk ? [approveButton, ...baseButtons] : baseButtons;\n\nconst blocks = [\n  {type: 'section', text: {type: 'mrkdwn', text: headerText}},\n  {type: 'actions', elements: buttons},\n];\n\nreturn [{\n  json: {\n    ...item,\n    slack_blocks: blocks,\n    slack_text_fallback: `Outreach item #${oid} — risk ${risk}/100 — needs review`,\n    is_low_risk: lowRisk,\n  }\n}];"},"id":"cc000010-0010-0010-0010-000000000010","name":"Build Slack Blocks","type":"n8n-nodes-base.code","typeVersion":2,"position":[900,300]},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"C0B4SUTP8R4","mode":"id"},"messageType":"block","blocksUi":"={{ JSON.stringify($json.slack_blocks) }}","text":"={{ $json.slack_text_fallback }}","otherOptions":{}},"id":"cc000006-0006-0006-0006-000000000006","name":"Slack Notify","type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[1120,300],"credentials":{"slackApi":{"id":"o9pysvcgZQFhoOLP","name":"slack-bot-token"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO outcomes (publish_job_id, notes)\nVALUES (NULL, jsonb_build_object('outreach_item_id', $1::bigint, 'kind', 'notified')::text);","options":{"queryReplacement":"={{ [$('Split In Batches').item.json.outreach_item_id] }}"}},"id":"cc000008-0008-0008-0008-000000000008","name":"Log Notification","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1340,300],"credentials":{"postgres":{"id":"fOZmso5kyXr6Agdn","name":"outreach-db-n8n"}}},{"parameters":{"httpMethod":"GET","path":"render-approval-form","authentication":"basicAuth","responseMode":"responseNode","options":{}},"id":"t27w0001-0001-0001-0001-000000000001","name":"Webhook GET Render Form","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,560],"webhookId":"render-approval-form","credentials":{"httpBasicAuth":{"id":"wp5foUcxmwrXaaDk","name":"n8n-form-auth"}}},{"parameters":{"jsCode":"const rawId = $('Webhook GET Render Form').item.json.query?.outreach_item_id;\nconst parsed = parseInt(rawId, 10);\nif (isNaN(parsed) || parsed <= 0) {\n  return [{json: {invalid: true, html: '<h1>Missing or invalid outreach_item_id parameter</h1>'}}];\n}\nreturn [{json: {invalid: false, outreach_item_id: parsed}}];"},"id":"t27w0005-0005-0005-0005-000000000005","name":"Validate Query Param","type":"n8n-nodes-base.code","typeVersion":2,"position":[460,560]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"vq-cond-001","leftValue":"={{ $json.invalid }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"t27w0006-0006-0006-0006-000000000006","name":"Valid ID?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[680,560]},{"parameters":{"operation":"executeQuery","query":"WITH drafts_cte AS (\n  SELECT d.id, d.variant, d.draft_text, d.risk_score, d.suggested_destination, d.suggested_post_type,\n         oi.source_url, oi.source_platform, oi.id AS outreach_item_id\n  FROM drafts d\n  JOIN outreach_items oi ON oi.id = d.outreach_item_id\n  WHERE oi.id = $1::bigint\n    AND d.status = 'needs_human_review'\n  ORDER BY d.variant\n)\nSELECT * FROM drafts_cte\nUNION ALL\nSELECT NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL\nWHERE NOT EXISTS (SELECT 1 FROM drafts_cte);","options":{"queryReplacement":"={{ [$('Validate Query Param').item.json.outreach_item_id] }}"}},"id":"t27w0002-0002-0002-0002-000000000002","name":"Postgres Load Drafts","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[900,560],"credentials":{"postgres":{"id":"fOZmso5kyXr6Agdn","name":"outreach-db-n8n"}}},{"parameters":{"mode":"runOnceForAllItems","jsCode":"const rows = $input.all().map(i => i.json).filter(r => r.id !== null && r.id !== undefined);\nif (!rows || rows.length === 0) {\n  return [{json: {html: '<h1>No pending drafts for this outreach_item</h1>'}}];\n}\nconst item = rows[0];  // source_url + platform are the same for all three\nconst escapeHtml = (s) => String(s ?? '').replace(/[&<>\"']/g, c => ({'&':'&amp;','<':'&lt;','>':'&gt;','\"':'&quot;',\"'\":'&#39;'}[c]));\nconst safeUrl = (s) => /^https?:\\/\\//i.test(s ?? '') ? s : '#blocked-unsafe-url';\nconst variantBlock = (r) => `\n  <div style=\"margin:12px 0;padding:12px;border:1px solid #ddd\">\n    <h3>${escapeHtml(r.variant)} <small style=\"color:#888\">risk ${r.risk_score}/100</small></h3>\n    <textarea name=\"text_${escapeHtml(r.variant)}\" rows=\"6\" cols=\"80\">${escapeHtml(r.draft_text)}</textarea>\n    <input type=\"hidden\" name=\"original_text_${escapeHtml(r.variant)}\" value=\"${escapeHtml(r.draft_text)}\">\n    <input type=\"hidden\" name=\"draft_id_${escapeHtml(r.variant)}\" value=\"${r.id}\">\n  </div>`;\nconst html = `<!doctype html>\n<html><head><title>Approve outreach item #${item.outreach_item_id}</title></head>\n<body style=\"font-family:system-ui;max-width:900px;margin:20px auto\">\n  <h1>Outreach item #${item.outreach_item_id}</h1>\n  <p><strong>Source:</strong> <a href=\"${escapeHtml(safeUrl(item.source_url))}\">${escapeHtml(item.source_url)}</a></p>\n  <p><strong>Platform:</strong> ${escapeHtml(item.source_platform)}</p>\n  <form method=\"POST\" action=\"/webhook/submit-approval\">\n    <input type=\"hidden\" name=\"outreach_item_id\" value=\"${item.outreach_item_id}\">\n    <h2>Variants (edit any, then choose which to approve)</h2>\n    ${rows.map(variantBlock).join('')}\n    <label>Chosen variant: <select name=\"chosen_variant\">\n      ${rows.map(r => `<option value=\"${escapeHtml(r.variant)}\">${escapeHtml(r.variant)}</option>`).join('')}\n    </select></label><br>\n    <label>Approved destination: <input name=\"approved_destination\" value=\"${escapeHtml(item.suggested_destination)}\"></label><br>\n    <label>Approved post type: <input name=\"approved_post_type\" value=\"${escapeHtml(item.suggested_post_type || 'post')}\"></label><br>\n    <label>Notes: <input name=\"notes\" size=\"60\"></label><br><br>\n    <button name=\"decision\" value=\"approved\">Approve chosen variant</button>\n    <button name=\"decision\" value=\"rejected\">Reject all</button>\n    <button name=\"decision\" value=\"manual_only\">Approve as manual-only</button>\n    <button name=\"decision\" value=\"save_for_later\">Save for later</button>\n  </form>\n</body></html>`;\nreturn [{json: {html}}];"},"id":"t27w0003-0003-0003-0003-000000000003","name":"Code Render HTML","type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,560]},{"parameters":{"respondWith":"text","responseBody":"={{ $json.html }}","options":{"responseHeaders":{"entries":[{"name":"Content-Type","value":"text/html; charset=utf-8"}]}}},"id":"t27w0004-0004-0004-0004-000000000004","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1340,560]},{"parameters":{"httpMethod":"POST","path":"submit-approval","authentication":"basicAuth","responseMode":"responseNode","options":{}},"id":"t28w0001-0001-0001-0001-000000000001","name":"Webhook POST Submit Approval","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,820],"webhookId":"submit-approval","credentials":{"httpBasicAuth":{"id":"wp5foUcxmwrXaaDk","name":"n8n-form-auth"}}},{"parameters":{"jsCode":"function sha256(str) {\n  const bytes = [];\n  for (let i = 0; i < str.length; i++) {\n    let c = str.charCodeAt(i);\n    if (c < 0x80) { bytes.push(c); }\n    else if (c < 0x800) { bytes.push(0xC0|(c>>6), 0x80|(c&0x3F)); }\n    else if (c < 0xD800 || c >= 0xE000) { bytes.push(0xE0|(c>>12), 0x80|((c>>6)&0x3F), 0x80|(c&0x3F)); }\n    else { i++; c=0x10000+(((c&0x3FF)<<10)|(str.charCodeAt(i)&0x3FF)); bytes.push(0xF0|(c>>18),0x80|((c>>12)&0x3F),0x80|((c>>6)&0x3F),0x80|(c&0x3F)); }\n  }\n  const K=[0x428a2f98,0x71374491,0xb5c0fbcf,0xe9b5dba5,0x3956c25b,0x59f111f1,0x923f82a4,0xab1c5ed5,0xd807aa98,0x12835b01,0x243185be,0x550c7dc3,0x72be5d74,0x80deb1fe,0x9bdc06a7,0xc19bf174,0xe49b69c1,0xefbe4786,0x0fc19dc6,0x240ca1cc,0x2de92c6f,0x4a7484aa,0x5cb0a9dc,0x76f988da,0x983e5152,0xa831c66d,0xb00327c8,0xbf597fc7,0xc6e00bf3,0xd5a79147,0x06ca6351,0x14292967,0x27b70a85,0x2e1b2138,0x4d2c6dfc,0x53380d13,0x650a7354,0x766a0abb,0x81c2c92e,0x92722c85,0xa2bfe8a1,0xa81a664b,0xc24b8b70,0xc76c51a3,0xd192e819,0xd6990624,0xf40e3585,0x106aa070,0x19a4c116,0x1e376c08,0x2748774c,0x34b0bcb5,0x391c0cb3,0x4ed8aa4a,0x5b9cca4f,0x682e6ff3,0x748f82ee,0x78a5636f,0x84c87814,0x8cc70208,0x90befffa,0xa4506ceb,0xbef9a3f7,0xc67178f2];\n  let h0=0x6a09e667,h1=0xbb67ae85,h2=0x3c6ef372,h3=0xa54ff53a,h4=0x510e527f,h5=0x9b05688c,h6=0x1f83d9ab,h7=0x5be0cd19;\n  const msgLen=bytes.length; bytes.push(0x80);\n  while((bytes.length%64)!==56) bytes.push(0);\n  const bitLen=msgLen*8; bytes.push(0,0,0,0,(bitLen>>>24)&0xFF,(bitLen>>>16)&0xFF,(bitLen>>>8)&0xFF,bitLen&0xFF);\n  function rotr(x,n){return(x>>>n)|(x<<(32-n));}\n  function ch(x,y,z){return(x&y)^(~x&z);}\n  function maj(x,y,z){return(x&y)^(x&z)^(y&z);}\n  function sig0(x){return rotr(x,2)^rotr(x,13)^rotr(x,22);}\n  function sig1(x){return rotr(x,6)^rotr(x,11)^rotr(x,25);}\n  function gam0(x){return rotr(x,7)^rotr(x,18)^(x>>>3);}\n  function gam1(x){return rotr(x,17)^rotr(x,19)^(x>>>10);}\n  for(let offset=0;offset<bytes.length;offset+=64){\n    const w=new Array(64);\n    for(let i=0;i<16;i++) w[i]=((bytes[offset+i*4]<<24)|(bytes[offset+i*4+1]<<16)|(bytes[offset+i*4+2]<<8)|bytes[offset+i*4+3])>>>0;\n    for(let i=16;i<64;i++) w[i]=(gam1(w[i-2])+w[i-7]+gam0(w[i-15])+w[i-16])>>>0;\n    let a=h0,b=h1,c=h2,d=h3,e=h4,f=h5,g=h6,h=h7;\n    for(let i=0;i<64;i++){const t1=(h+sig1(e)+ch(e,f,g)+K[i]+w[i])>>>0;const t2=(sig0(a)+maj(a,b,c))>>>0;h=g;g=f;f=e;e=(d+t1)>>>0;d=c;c=b;b=a;a=(t1+t2)>>>0;}\n    h0=(h0+a)>>>0;h1=(h1+b)>>>0;h2=(h2+c)>>>0;h3=(h3+d)>>>0;h4=(h4+e)>>>0;h5=(h5+f)>>>0;h6=(h6+g)>>>0;h7=(h7+h)>>>0;\n  }\n  function hex(n){return('00000000'+(n>>>0).toString(16)).slice(-8);}\n  return hex(h0)+hex(h1)+hex(h2)+hex(h3)+hex(h4)+hex(h5)+hex(h6)+hex(h7);\n}\n\nconst body = $input.item.json.body;\n\nif (!body) {\n  throw new Error('No form body received — expected application/x-www-form-urlencoded POST');\n}\n\nconst VALID_DECISIONS = ['approved', 'rejected', 'manual_only', 'save_for_later'];\nconst decision = body.decision;\nif (!decision || !VALID_DECISIONS.includes(decision)) {\n  throw new Error('Invalid decision \"' + decision + '\". Must be one of: ' + VALID_DECISIONS.join(', '));\n}\n\nconst chosen = body.chosen_variant || 'helpful_only';\nconst editedText = body['text_' + chosen];\nconst originalText = body['original_text_' + chosen];\nconst chosenDraftId = parseInt(body['draft_id_' + chosen], 10);\n\nif (isNaN(chosenDraftId) || chosenDraftId <= 0) {\n  throw new Error('Invalid or missing draft_id_' + chosen + ': \"' + body['draft_id_' + chosen] + '\"');\n}\n\nif (editedText === undefined || editedText === null) {\n  throw new Error('Missing text_' + chosen + ' field in form submission');\n}\n\nconst outreachItemId = parseInt(body.outreach_item_id, 10);\nif (isNaN(outreachItemId) || outreachItemId <= 0) {\n  throw new Error('Invalid or missing outreach_item_id: \"' + body.outreach_item_id + '\"');\n}\n\nconst wasEdited = editedText !== originalText;\nconst finalText = editedText;\nconst destination = body.approved_destination || '';\nconst postType = body.approved_post_type || '';\nconst hash = sha256(finalText + destination + postType);\n\nreturn [{json: {\n  draft_id: chosenDraftId,\n  outreach_item_id: outreachItemId,\n  approved_by: 'jeremy',\n  decision: decision,\n  edited_text: wasEdited ? finalText : null,\n  approved_destination: destination,\n  approved_post_type: postType,\n  approved_content_hash: hash,\n  approval_notes: body.notes || null,\n}}];"},"id":"t28w0002-0002-0002-0002-000000000002","name":"Build Approval","type":"n8n-nodes-base.code","typeVersion":2,"position":[460,820]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO approvals (draft_id, approved_by, decision, edited_text, approved_destination, approved_post_type, approved_content_hash, approval_notes)\nVALUES ($1, $2, $3, $4, $5, $6, $7, $8)\nRETURNING id;","options":{"queryReplacement":"={{ [\n  $('Build Approval').item.json.draft_id,\n  $('Build Approval').item.json.approved_by,\n  $('Build Approval').item.json.decision,\n  $('Build Approval').item.json.edited_text,\n  $('Build Approval').item.json.approved_destination,\n  $('Build Approval').item.json.approved_post_type,\n  $('Build Approval').item.json.approved_content_hash,\n  $('Build Approval').item.json.approval_notes\n] }}"}},"id":"t28w0003-0003-0003-0003-000000000003","name":"Insert Approval","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[680,820],"credentials":{"postgres":{"id":"fOZmso5kyXr6Agdn","name":"outreach-db-n8n"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE drafts SET status = CASE\n  WHEN $1::text = 'approved' THEN 'approved'\n  WHEN $1::text = 'manual_only' THEN 'approved'\n  WHEN $1::text = 'rejected' THEN 'rejected'\n  ELSE status\nEND\nWHERE id = $2::bigint;\n\nUPDATE drafts SET status='rejected'\nWHERE outreach_item_id = $3::bigint\n  AND id <> $2::bigint\n  AND status = 'needs_human_review'\n  AND $1::text IN ('approved','manual_only','rejected');\n\nUPDATE outreach_items SET status='reviewed'\nWHERE id = $3::bigint\n  AND $1::text IN ('approved','manual_only','rejected');","options":{"queryReplacement":"={{ [\n  $('Build Approval').item.json.decision,\n  $('Build Approval').item.json.draft_id,\n  $('Build Approval').item.json.outreach_item_id\n] }}"}},"id":"t28w0004-0004-0004-0004-000000000004","name":"Update Statuses","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[900,820],"credentials":{"postgres":{"id":"fOZmso5kyXr6Agdn","name":"outreach-db-n8n"}}},{"parameters":{"respondWith":"text","responseBody":"={{ `<!doctype html><html><body style=\"font-family:system-ui;max-width:600px;margin:20px auto\"><h1>Approval recorded</h1><p>Decision: <strong>${$('Build Approval').item.json.decision}</strong></p><p>Approval ID: ${$('Insert Approval').item.json.id}</p><p><a href=\"/webhook/render-approval-form?outreach_item_id=${$('Build Approval').item.json.outreach_item_id}\">Back to form</a></p></body></html>` }}","options":{"responseHeaders":{"entries":[{"name":"Content-Type","value":"text/html; charset=utf-8"}]}}},"id":"t28w0005-0005-0005-0005-000000000005","name":"Respond Confirmation","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1120,820]}],"connections":{"Schedule Trigger":{"main":[[{"node":"Find Items","type":"main","index":0}]]},"Find Items":{"main":[[{"node":"Split In Batches","type":"main","index":0}]]},"Split In Batches":{"main":[[],[{"node":"Build Slack Blocks","type":"main","index":0}]]},"Build Slack Blocks":{"main":[[{"node":"Slack Notify","type":"main","index":0}]]},"Slack Notify":{"main":[[{"node":"Log Notification","type":"main","index":0}]]},"Webhook GET Render Form":{"main":[[{"node":"Validate Query Param","type":"main","index":0}]]},"Validate Query Param":{"main":[[{"node":"Valid ID?","type":"main","index":0}]]},"Valid ID?":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}],[{"node":"Postgres Load Drafts","type":"main","index":0}]]},"Postgres Load Drafts":{"main":[[{"node":"Code Render HTML","type":"main","index":0}]]},"Code Render HTML":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Webhook POST Submit Approval":{"main":[[{"node":"Build Approval","type":"main","index":0}]]},"Build Approval":{"main":[[{"node":"Insert Approval","type":"main","index":0}]]},"Insert Approval":{"main":[[{"node":"Update Statuses","type":"main","index":0}]]},"Update Statuses":{"main":[[{"node":"Respond Confirmation","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":null,"pinData":null,"versionId":"723691ba-5a87-4215-ab6b-c2157d40c563","activeVersionId":"723691ba-5a87-4215-ab6b-c2157d40c563","versionCounter":15,"triggerCount":3,"tags":[],"shared":[{"updatedAt":"2026-05-19T21:19:20.702Z","createdAt":"2026-05-19T21:19:20.702Z","role":"workflow:owner","workflowId":"rEv1eWoUtReAcH001","projectId":"JGmgbrvKk4KLD2WH","project":{"updatedAt":"2025-09-03T13:34:38.940Z","createdAt":"2025-09-03T13:25:25.897Z","id":"JGmgbrvKk4KLD2WH","name":"Jeremy Corbello <jacorbello@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"267d3922-bc61-4b1d-a99c-8d3098aa7a70"}}],"versionMetadata":{"name":null,"description":null}}]