apps/outreach-workflows/n8n/review.json
[{"updatedAt":"2026-05-19T21:19:28.000Z","createdAt":"2026-05-19T21:19:20.700Z","id":"rEv1eWoUtReAcH001","name":"outreach-review-notify","description":"Finds drafted outreach items needing human review and posts Slack notifications with quick-action buttons. T27 adds approval form triggers; T29 wires the approve/reject buttons. TODO(phase2): migrate notification log from outcomes to a dedicated notifications table.","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":2}]}},"id":"cc000001-0001-0001-0001-000000000001","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[240,300]},{"parameters":{"operation":"executeQuery","query":"SELECT oi.id AS outreach_item_id, oi.source_url, oi.source_platform,\n       d.id AS preview_draft_id, d.draft_text AS preview_text, d.risk_score AS preview_risk_score,\n       d.suggested_destination\nFROM outreach_items oi\nJOIN drafts d ON d.outreach_item_id = oi.id AND d.variant = 'helpful_only'\nWHERE oi.status='drafted'\n  AND d.status='needs_human_review'\n  AND oi.id NOT IN (\n    SELECT (notes::jsonb->>'outreach_item_id')::bigint\n    FROM outcomes\n    WHERE notes::jsonb ? 'outreach_item_id' AND notes::jsonb->>'kind' = 'notified'\n  )\nORDER BY oi.discovered_at\nLIMIT 5;","options":{}},"id":"cc000002-0002-0002-0002-000000000002","name":"Find Items","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[460,300],"credentials":{"postgres":{"id":"fOZmso5kyXr6Agdn","name":"outreach-db-n8n"}}},{"parameters":{"jsCode":"// Filter out no-op rows (no outreach_item_id) returned when the SELECT finds nothing\nconst items = $input.all();\nconst valid = items.filter(i => i.json && i.json.outreach_item_id != null);\nif (valid.length === 0) {\n  return [];\n}\nreturn valid;"},"id":"cc000003-0003-0003-0003-000000000003","name":"Filter Items","type":"n8n-nodes-base.code","typeVersion":2,"position":[680,300]},{"parameters":{"batchSize":1,"options":{}},"id":"cc000004-0004-0004-0004-000000000004","name":"Split In Batches","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[900,300]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"cond-risk-lt20","leftValue":"={{ $json.preview_risk_score }}","rightValue":20,"operator":{"type":"number","operation":"lt"}}],"combinator":"and"},"options":{}},"id":"cc000005-0005-0005-0005-000000000005","name":"Risk < 20?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1120,300]},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"C0B4SUTP8R4","mode":"id"},"messageType":"block","blocksUi":"=[{\"type\":\"section\",\"text\":{\"type\":\"mrkdwn\",\"text\":\":memo: *Outreach item #{{ $json.outreach_item_id }}* — `{{ $json.source_platform }}` — risk *{{ $json.preview_risk_score }}/100*\\n><{{ $json.source_url }}|source>\\n>{{ $json.preview_text }}\"}},{\"type\":\"actions\",\"elements\":[{\"type\":\"button\",\"text\":{\"type\":\"plain_text\",\"text\":\"Approve helpful-only as-drafted\"},\"action_id\":\"approve_{{ $json.outreach_item_id }}\",\"style\":\"primary\"},{\"type\":\"button\",\"text\":{\"type\":\"plain_text\",\"text\":\"Reject\"},\"action_id\":\"reject_{{ $json.outreach_item_id }}\",\"style\":\"danger\"},{\"type\":\"button\",\"text\":{\"type\":\"plain_text\",\"text\":\"Open full form\"},\"url\":\"https://n8n.corbello.io/webhook/render-approval-form?outreach_item_id={{ $json.outreach_item_id }}\"}]}]","text":"=:memo: Outreach item #{{ $json.outreach_item_id }} needs review — {{ $json.source_platform }} — risk {{ $json.preview_risk_score }}/100","otherOptions":{}},"id":"cc000006-0006-0006-0006-000000000006","name":"Slack — With Approve","type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[1340,180],"credentials":{"slackApi":{"id":"o9pysvcgZQFhoOLP","name":"slack-bot-token"}}},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"C0B4SUTP8R4","mode":"id"},"messageType":"block","blocksUi":"=[{\"type\":\"section\",\"text\":{\"type\":\"mrkdwn\",\"text\":\":warning: *Outreach item #{{ $json.outreach_item_id }}* — `{{ $json.source_platform }}` — risk *{{ $json.preview_risk_score }}/100* (high-risk — quick-approve suppressed)\\n><{{ $json.source_url }}|source>\\n>{{ $json.preview_text }}\"}},{\"type\":\"actions\",\"elements\":[{\"type\":\"button\",\"text\":{\"type\":\"plain_text\",\"text\":\"Reject\"},\"action_id\":\"reject_{{ $json.outreach_item_id }}\",\"style\":\"danger\"},{\"type\":\"button\",\"text\":{\"type\":\"plain_text\",\"text\":\"Open full form\"},\"url\":\"https://n8n.corbello.io/webhook/render-approval-form?outreach_item_id={{ $json.outreach_item_id }}\"}]}]","text":"=:warning: Outreach item #{{ $json.outreach_item_id }} needs review (high-risk) — {{ $json.source_platform }} — risk {{ $json.preview_risk_score }}/100","otherOptions":{}},"id":"cc000007-0007-0007-0007-000000000007","name":"Slack — Without Approve","type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[1340,420],"credentials":{"slackApi":{"id":"o9pysvcgZQFhoOLP","name":"slack-bot-token"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO outcomes (publish_job_id, notes)\nVALUES (NULL, jsonb_build_object('outreach_item_id', $1::bigint, 'kind', 'notified')::text);","options":{"queryReplacement":"={{ [$('Split In Batches').item.json.outreach_item_id] }}"}},"id":"cc000008-0008-0008-0008-000000000008","name":"Log Notification (approve)","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1560,180],"credentials":{"postgres":{"id":"fOZmso5kyXr6Agdn","name":"outreach-db-n8n"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO outcomes (publish_job_id, notes)\nVALUES (NULL, jsonb_build_object('outreach_item_id', $1::bigint, 'kind', 'notified')::text);","options":{"queryReplacement":"={{ [$('Split In Batches').item.json.outreach_item_id] }}"}},"id":"cc000009-0009-0009-0009-000000000009","name":"Log Notification (reject)","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1560,420],"credentials":{"postgres":{"id":"fOZmso5kyXr6Agdn","name":"outreach-db-n8n"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Find Items","type":"main","index":0}]]},"Find Items":{"main":[[{"node":"Filter Items","type":"main","index":0}]]},"Filter Items":{"main":[[{"node":"Split In Batches","type":"main","index":0}]]},"Split In Batches":{"main":[[],[{"node":"Risk < 20?","type":"main","index":0}]]},"Risk < 20?":{"main":[[{"node":"Slack — With Approve","type":"main","index":0}],[{"node":"Slack — Without Approve","type":"main","index":0}]]},"Slack — With Approve":{"main":[[{"node":"Log Notification (approve)","type":"main","index":0}]]},"Slack — Without Approve":{"main":[[{"node":"Log Notification (reject)","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":null,"pinData":null,"versionId":"749f9017-cbe7-43d5-9a54-91d023b6dab2","activeVersionId":"749f9017-cbe7-43d5-9a54-91d023b6dab2","versionCounter":6,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-05-19T21:19:20.702Z","createdAt":"2026-05-19T21:19:20.702Z","role":"workflow:owner","workflowId":"rEv1eWoUtReAcH001","projectId":"JGmgbrvKk4KLD2WH","project":{"updatedAt":"2025-09-03T13:34:38.940Z","createdAt":"2025-09-03T13:25:25.897Z","id":"JGmgbrvKk4KLD2WH","name":"Jeremy Corbello <jacorbello@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"267d3922-bc61-4b1d-a99c-8d3098aa7a70"}}],"versionMetadata":{"name":null,"description":null}}]