apps/outreach-workflows/n8n/smoke.json
[{"updatedAt": "2026-05-20T01:51:50.000Z", "createdAt": "2026-05-19T09:00:00.000Z", "id": "sMoKeOutreachW001", "name": "outreach-smoke", "description": "Nightly smoke test for the Discover -> Draft pipeline. Fires at 09:00 UTC daily, POSTs a synthetic URL to the Discover webhook, waits 5 min, checks that the item reached 'drafted' or 'reviewed' status, alerts Slack on failure, and cleans up synthetic rows from prior runs (> 1 hour old). Wait is 5 min in prod. No ON DELETE CASCADE on drafts FK — cleanup deletes drafts first, then outreach_items.", "active": true, "isArchived": false, "nodes": [{"parameters": {"rule": {"interval": [{"triggerAtHour": 9, "triggerAtMinute": 0}]}}, "id": "sm000001-0001-0001-0001-000000000001", "name": "Schedule Trigger", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.2, "position": [240, 300]}, {"parameters": {"jsCode": "const today = new Date().toISOString().slice(0, 10);\nconst url = `https://plotlens.ai/smoke-test/${today}`;\nreturn [{json: {smoke_url: url, smoke_notes: 'nightly smoke'}}];"}, "id": "sm000002-0002-0002-0002-000000000002", "name": "Build Smoke URL", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [460, 300]}, {"parameters": {"method": "POST", "url": "http://127.0.0.1:5678/webhook/outreach-discover", "authentication": "predefinedCredentialType", "nodeCredentialType": "httpHeaderAuth", "sendBody": true, "specifyBody": "json", "jsonBody": "={{ JSON.stringify({url: $json.smoke_url, notes: $json.smoke_notes}) }}", "options": {}}, "id": "sm000003-0003-0003-0003-000000000003", "name": "Trigger Discover", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [680, 300], "credentials": {"httpHeaderAuth": {"id": "R8FUCCmGLkzJdEPB", "name": "discover-webhook-secret"}}, "onError": "continueErrorOutput"}, {"parameters": {"amount": 5, "unit": "minutes"}, "id": "sm000004-0004-0004-0004-000000000004", "name": "Wait", "type": "n8n-nodes-base.wait", "typeVersion": 1.1, "position": [900, 300], "webhookId": "smoke-wait-resume"}, {"parameters": {"operation": "executeQuery", "query": "SELECT id, status, source_url\nFROM outreach_items\nWHERE source_url = $1\n  AND status IN ('drafted', 'reviewed')\nLIMIT 1;", "options": {"queryReplacement": "={{ [$('Build Smoke URL').item.json.smoke_url] }}"}}, "id": "sm000005-0005-0005-0005-000000000005", "name": "Check Drafted Status", "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [1120, 300], "credentials": {"postgres": {"id": "fOZmso5kyXr6Agdn", "name": "outreach-db-n8n"}}}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"}, "conditions": [{"id": "smoke-if-ok", "leftValue": "={{ $('Check Drafted Status').all().length > 0 }}", "rightValue": true, "operator": {"type": "boolean", "operation": "equals"}}], "combinator": "and"}, "options": {}}, "id": "sm000006-0006-0006-0006-000000000006", "name": "Smoke OK?", "type": "n8n-nodes-base.if", "typeVersion": 2.2, "position": [1340, 300]}, {"parameters": {"jsCode": "const smokeUrl = $('Build Smoke URL').item.json.smoke_url;\n\nconst blocks = [\n  {\n    type: 'section',\n    text: {\n      type: 'mrkdwn',\n      text: `:rotating_light: *Outreach smoke FAILED* — manual webhook did not reach drafted status within 5 min.\\nURL: \\`${smokeUrl}\\``\n    }\n  }\n];\n\nreturn [{\n  json: {\n    smoke_url: smokeUrl,\n    slack_blocks: blocks,\n    slack_text_fallback: `:rotating_light: Outreach smoke FAILED — ${smokeUrl} not drafted after 5 min`\n  }\n}];"}, "id": "sm000007-0007-0007-0007-000000000007", "name": "Build Alert Blocks", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1560, 420]}, {"parameters": {"select": "channel", "channelId": {"__rl": true, "value": "C0B4SUTP8R4", "mode": "id"}, "messageType": "block", "blocksUi": "={{ { blocks: $json.slack_blocks } }}", "text": "={{ $json.slack_text_fallback }}", "otherOptions": {}}, "id": "sm000008-0008-0008-0008-000000000008", "name": "Slack Alert", "type": "n8n-nodes-base.slack", "typeVersion": 2.3, "position": [1780, 420], "credentials": {"slackApi": {"id": "o9pysvcgZQFhoOLP", "name": "slack-bot-token"}}}, {"parameters": {"operation": "executeQuery", "query": "DELETE FROM drafts\nWHERE outreach_item_id IN (\n  SELECT id FROM outreach_items\n  WHERE source_url LIKE 'https://plotlens.ai/smoke-test/%'\n    AND discovered_at < now() - INTERVAL '1 hour'\n    AND id NOT IN (\n      SELECT DISTINCT d2.outreach_item_id FROM drafts d2\n      JOIN approvals a ON a.draft_id = d2.id\n    )\n);\n\nDELETE FROM outreach_items\nWHERE source_url LIKE 'https://plotlens.ai/smoke-test/%'\n  AND discovered_at < now() - INTERVAL '1 hour'\n  AND id NOT IN (\n    SELECT DISTINCT d.outreach_item_id FROM drafts d\n    JOIN approvals a ON a.draft_id = d.id\n  );", "options": {}}, "id": "sm000009-0009-0009-0009-000000000009", "name": "Cleanup Old Smoke Rows", "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [2000, 300], "credentials": {"postgres": {"id": "fOZmso5kyXr6Agdn", "name": "outreach-db-n8n"}}}, {"parameters": {"jsCode": "// Fires when Trigger Discover errors at the HTTP layer (e.g. connection refused,\n// DNS NXDOMAIN, TLS handshake failure). Builds a Slack alert that surfaces the\n// underlying error message so an operator can diagnose without diving into n8n\n// execution logs.\nconst smokeUrl = $('Build Smoke URL').item.json.smoke_url;\nconst errMsg = ($json && ($json.error || ($json.message))) || 'unknown HTTP failure';\n\nconst blocks = [\n  {\n    type: 'section',\n    text: {\n      type: 'mrkdwn',\n      text: `:rotating_light: *Outreach smoke FAILED at HTTP layer* — \\`Trigger Discover\\` could not reach the webhook.\\nURL: \\`${smokeUrl}\\`\\nError: \\`${String(errMsg).slice(0, 500)}\\``\n    }\n  }\n];\n\nreturn [{\n  json: {\n    smoke_url: smokeUrl,\n    slack_blocks: blocks,\n    slack_text_fallback: `:rotating_light: Outreach smoke HTTP failure — ${smokeUrl}`\n  }\n}];"}, "id": "sm00000a-000a-000a-000a-00000000000a", "name": "Build HTTP Failure Alert", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [900, 540]}], "connections": {"Schedule Trigger": {"main": [[{"node": "Build Smoke URL", "type": "main", "index": 0}]]}, "Build Smoke URL": {"main": [[{"node": "Trigger Discover", "type": "main", "index": 0}]]}, "Trigger Discover": {"main": [[{"node": "Wait", "type": "main", "index": 0}], [{"node": "Build HTTP Failure Alert", "type": "main", "index": 0}]]}, "Wait": {"main": [[{"node": "Check Drafted Status", "type": "main", "index": 0}]]}, "Check Drafted Status": {"main": [[{"node": "Smoke OK?", "type": "main", "index": 0}]]}, "Smoke OK?": {"main": [[{"node": "Cleanup Old Smoke Rows", "type": "main", "index": 0}], [{"node": "Build Alert Blocks", "type": "main", "index": 0}]]}, "Build Alert Blocks": {"main": [[{"node": "Slack Alert", "type": "main", "index": 0}]]}, "Slack Alert": {"main": [[{"node": "Cleanup Old Smoke Rows", "type": "main", "index": 0}]]}, "Build HTTP Failure Alert": {"main": [[{"node": "Slack Alert", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1"}, "staticData": {"node:Schedule Trigger": {"recurrenceRules": []}}, "meta": null, "pinData": null, "versionId": "3ea9d221-fd38-46fc-8840-3eb4ab6189fa", "activeVersionId": "3ea9d221-fd38-46fc-8840-3eb4ab6189fa", "versionCounter": 3, "triggerCount": 1, "tags": [], "shared": [{"updatedAt": "2026-05-20T01:51:37.124Z", "createdAt": "2026-05-20T01:51:37.124Z", "role": "workflow:owner", "workflowId": "sMoKeOutreachW001", "projectId": "JGmgbrvKk4KLD2WH", "project": {"updatedAt": "2025-09-03T13:34:38.940Z", "createdAt": "2025-09-03T13:25:25.897Z", "id": "JGmgbrvKk4KLD2WH", "name": "Jeremy Corbello <jacorbello@gmail.com>", "type": "personal", "icon": null, "description": null, "creatorId": "267d3922-bc61-4b1d-a99c-8d3098aa7a70"}}], "versionMetadata": {"name": null, "description": null}}]